In [1]:
import pandas as pd
import numpy as np

In [4]:
april_covid=pd.read_csv("april(T-covid).csv")
april_Covid_19=pd.read_csv('april(T-Covid_19).csv')
april_remdesivir=pd.read_csv('april(T-remdesivir).csv')

In [3]:
duplicates=april_covid[april_covid.duplicated()]
duplicates.shape

(0, 36)

In [5]:
duplicates=april_Covid_19[april_Covid_19.duplicated()]
duplicates.shape

(0, 36)

In [6]:
duplicates=april_remdesivir[april_remdesivir.duplicated()]
duplicates.shape

(0, 36)

In [7]:
april_Temp =pd.concat([april_Covid_19,april_covid]).drop_duplicates()

In [8]:
aprilKeyAyush=pd.concat([april_Temp,april_remdesivir]).drop_duplicates()

In [9]:
aprilKeyAyush.shape

(718, 36)

In [11]:
duplicates=aprilKeyAyush[aprilKeyAyush.duplicated()]
duplicates.shape

(0, 36)

In [10]:
aprilKeyAyush.to_csv('April_keywords_Ayush.csv')

In [13]:
aprilKeyAyush.drop(['trans_dest', 'trans_src', 'retweet_id', 'reply_to', 'retweet_date', 'translate','geo', 'source', 'user_rt_id', 'user_rt','video', 'thumbnail','quote_url', 'near','id', 'conversation_id', 'date', 'time','place','mentions','urls', 'photos','hashtags', 'cashtags', 'link', 'retweet', 'timezone', 'user_id','name'] ,axis = 1,inplace=True)

In [14]:
aprilKeyAyush.shape

(718, 7)

In [15]:
aprilKeyAyush.columns

Index(['created_at', 'username', 'tweet', 'language', 'replies_count',
       'retweets_count', 'likes_count'],
      dtype='object')

In [16]:
aprilT=pd.read_csv('covidTweets(april-2021-TopSection).csv')
aprilL=pd.read_csv('covidTweets(april-2021-latest).csv.csv')

In [17]:
aprilL.shape

(444, 7)

In [18]:
aprilL.columns

Index(['UserName', 'userhandle', 'Time', 'comments', 'retweets', 'likes',
       'Tweet'],
      dtype='object')

In [20]:
aprilL.drop(['userhandle'],axis=1,inplace=True)

In [21]:
aprilL=aprilL.rename(columns={'UserName':'username','Time':'created_at','comments':'replies_count','retweets':'retweets_count','likes':'likes_count','Tweet':'tweet'})

In [22]:
aprilL.columns

Index(['username', 'created_at', 'replies_count', 'retweets_count',
       'likes_count', 'tweet'],
      dtype='object')

In [23]:
aprilKeyAyush.columns

Index(['created_at', 'username', 'tweet', 'language', 'replies_count',
       'retweets_count', 'likes_count'],
      dtype='object')

In [24]:
aprilL["language"]=np.nan

In [27]:
aprilL.head(5)

,username,created_at,replies_count,retweets_count,likes_count,tweet,language
0,Sumant Kumar,2021-04-29T20:16:34.000Z,NaN,NaN,NaN,@MamataOfficial\n\n\n@narendramodi\n \n@DrHVof...,NaN
1,MEHEDI HASSAN MONDAL,2021-04-29T18:22:50.000Z,1.0,2.0,3.0,Where is our India'n GOVERNMENT.lack of people...,NaN
2,Janta Power,2021-04-29T15:57:31.000Z,NaN,NaN,NaN,The media has turned a blind eye to the ongoin...,NaN
3,Chakradharparhi,2021-04-29T12:47:25.000Z,NaN,NaN,NaN,My dear all twiter friends & My siniour person...,NaN
4,Janta Power,2021-04-29T11:55:41.000Z,2.0,NaN,NaN,@KareenaKapoor\n reveals chat with Taimur abou...,NaN

In [35]:
april_KeyL=pd.concat([aprilL,aprilKeyAyush]).drop_duplicates()

In [36]:
april_KeyL.shape

(1162, 7)

In [43]:
april_KeyL

,username,created_at,replies_count,retweets_count,likes_count,tweet,language
0,Sumant Kumar,2021-04-29T20:16:34.000Z,NaN,NaN,NaN,@MamataOfficial\n\n\n@narendramodi\n \n@DrHVof...,NaN
1,MEHEDI HASSAN MONDAL,2021-04-29T18:22:50.000Z,1.0,2.0,3.0,Where is our India'n GOVERNMENT.lack of people...,NaN
2,Janta Power,2021-04-29T15:57:31.000Z,NaN,NaN,NaN,The media has turned a blind eye to the ongoin...,NaN
3,Chakradharparhi,2021-04-29T12:47:25.000Z,NaN,NaN,NaN,My dear all twiter friends & My siniour person...,NaN
4,Janta Power,2021-04-29T11:55:41.000Z,2.0,NaN,NaN,@KareenaKapoor\n reveals chat with Taimur abou...,NaN
...,...,...,...,...,...,...,...
245,_gocoronago_,2021-04-27 23:05:26 India Standard Time,2.0,3.0,1.0,Please RT SPO2- 39‼️ #Lucknow #Remdesivir #Fav...,en
246,nilesh9306,2021-04-27 23:03:16 India Standard Time,0.0,1.0,0.0,"@PMOIndia Dear Sir, I am Covid positive and su...",en
247,handle_rahul,2021-04-27 23:01:13 India Standard Time,2.0,0.0,2.0,@DarshanNPopat @Yoongistwinnie @sandhyafernez ...,en
248,seemas_khan,2021-04-27 23:00:52 India Standard Time,9.0,8.0,32.0,"With Remdesivir, Azumab, Barcitinib not avail...",en
249,aswini43761478,2021-04-27 22:59:42 India Standard Time,0.0,0.0,5.0,"Ambulance charge 5 time Remdesivir black pe, 2...",et

In [29]:
aprilT.drop(['userhandle'],axis=1,inplace=True)

In [30]:
aprilT.columns

Index(['UserName', 'Time', 'comments', 'retweets', 'likes', 'Tweet'], dtype='object')

In [31]:
aprilT=aprilT.rename(columns={'UserName':'username','Time':'created_at','comments':'replies_count','retweets':'retweets_count','likes':'likes_count','Tweet':'tweet'})

In [32]:
aprilL["language"]=np.nan

In [38]:
april_KeyLT=pd.concat([aprilT,april_KeyL]).drop_duplicates()

In [39]:
april_KeyLT.shape

(1169, 7)

In [40]:
april_KeyLT.columns

Index(['username', 'created_at', 'replies_count', 'retweets_count',
       'likes_count', 'tweet', 'language'],
      dtype='object')

In [41]:
april_KeyLT.head(5)

,username,created_at,replies_count,retweets_count,likes_count,tweet,language
0,Rima Prasad,2021-04-15T07:53:06.000Z,4.0,8.0,55.0,Helpline numbers\n#Covid_19,NaN
1,��𝐀𝐍𝐃𝐄𝐄𝐏,2021-04-22T02:37:48.000Z,5.0,107.0,103.0,The Centre for Disease Control and Prevention ...,NaN
2,planetSetu,2021-04-25T10:34:37.000Z,NaN,1.0,1.0,#SocialDistancing is the key. Please follow al...,NaN
3,Hiraan,2021-04-18T07:05:14.000Z,6.0,38.0,146.0,Pl wear a mask and maintain the distance and f...,NaN
4,Manshi | My,2021-04-22T05:51:19.000Z,1.0,31.0,13.0,List of PLASMA BANKS in WEST BENGAL for COVID ...,NaN

In [42]:
april_KeyLT.to_csv("AprilRawAyush.csv")

In [45]:
april_KeyLT['language'] =april_KeyLT['language'].fillna('en')

In [46]:
april_KeyLT.head(5)

,username,created_at,replies_count,retweets_count,likes_count,tweet,language
0,Rima Prasad,2021-04-15T07:53:06.000Z,4.0,8.0,55.0,Helpline numbers\n#Covid_19,en
1,��𝐀𝐍𝐃𝐄𝐄𝐏,2021-04-22T02:37:48.000Z,5.0,107.0,103.0,The Centre for Disease Control and Prevention ...,en
2,planetSetu,2021-04-25T10:34:37.000Z,NaN,1.0,1.0,#SocialDistancing is the key. Please follow al...,en
3,Hiraan,2021-04-18T07:05:14.000Z,6.0,38.0,146.0,Pl wear a mask and maintain the distance and f...,en
4,Manshi | My,2021-04-22T05:51:19.000Z,1.0,31.0,13.0,List of PLASMA BANKS in WEST BENGAL for COVID ...,en

In [48]:
for i in april_KeyLT['language']:
    index_names = april_KeyLT[april_KeyLT['language']!='en' ].index
    april_KeyLT.drop(index_names, inplace = True)

In [49]:
april_KeyLT.shape

(651, 7)

In [50]:
april_KeyLT[['replies_count','likes_count','retweets_count',]] =april_KeyLT[['replies_count','likes_count','retweets_count',]].fillna(0)

In [51]:
april_KeyLT

,username,created_at,replies_count,retweets_count,likes_count,tweet,language
3,Hiraan,2021-04-18T07:05:14.000Z,6.0,38.0,146.0,Pl wear a mask and maintain the distance and f...,en
4,Manshi | My,2021-04-22T05:51:19.000Z,1.0,31.0,13.0,List of PLASMA BANKS in WEST BENGAL for COVID ...,en
6,Jay Prakash Majumdar,2021-04-26T07:10:03.000Z,3.0,24.0,57.0,Completed the 2nd dose of Covid vaccination at...,en
8,Bishal,2021-04-19T04:23:40.000Z,0.0,1.0,1.0,Congratulations! We welcome Covid-19 so warmly...,en
9,K@USHIK,2021-04-07T09:59:10.000Z,0.0,0.0,0.0,Election campaign plus covid infection = zero ...,en
...,...,...,...,...,...,...,...
238,aagyaap,2021-04-27 23:20:29 India Standard Time,0.0,0.0,0.0,@Dipesh_uP Need remdesivir gujrat..,en
241,vatsaltailor3,2021-04-27 23:13:58 India Standard Time,2.0,29.0,13.0,@narendramodi @SonuSood @SoodFoundation @ashok...,en
245,_gocoronago_,2021-04-27 23:05:26 India Standard Time,2.0,3.0,1.0,Please RT SPO2- 39‼️ #Lucknow #Remdesivir #Fav...,en
246,nilesh9306,2021-04-27 23:03:16 India Standard Time,0.0,1.0,0.0,"@PMOIndia Dear Sir, I am Covid positive and su...",en
248,seemas_khan,2021-04-27 23:00:52 India Standard Time,9.0,8.0,32.0,"With Remdesivir, Azumab, Barcitinib not avail...",en

In [52]:
april_KeyLT.to_csv("AprilTweetAyushFinal.csv")