In [77]:
import pandas as pd
import numpy as np
import math
from textblob import TextBlob as tb
import re
from nltk.corpus import stopwords

In [78]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\gango\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [79]:
june=pd.read_csv('JuneRemove.csv')

In [80]:
june.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'created_at', 'username', 'tweet',
       'language', 'replies_count', 'retweets_count', 'likes_count'],
      dtype='object')

In [81]:
june.drop(['Unnamed: 0'],axis=1,inplace=True)

In [82]:
june.columns

Index(['Unnamed: 0.1', 'created_at', 'username', 'tweet', 'language',
       'replies_count', 'retweets_count', 'likes_count'],
      dtype='object')

In [83]:
june['language'].unique()

array(['en'], dtype=object)

In [84]:
for i in june['language']:
    index_names = june[june['language']!='en' ].index
    june.drop(index_names, inplace = True)

In [85]:
june.shape

(2440, 8)

In [86]:
duplicates = june[june.duplicated()]
duplicates.shape

(1, 8)

In [87]:
june=june.drop_duplicates(keep='first')
june.shape

(2439, 8)

In [88]:
june

,Unnamed: 0.1,created_at,username,tweet,language,replies_count,retweets_count,likes_count
0,0,2021-06-03 03:35:55 India Standard Time,albosaily1958,Did anyone notice a change in their psychologi...,en,0.0,0.0,1
1,2,2021-06-03 01:38:30 India Standard Time,stickwithchick,"Say goodbye to the “Indian,” “South African” a...",en,0.0,0.0,1
2,3,2021-06-03 00:59:28 India Standard Time,ssforgdel,"Dear all, Keep Donate Keep Retweet https://t...",en,0.0,2.0,1
3,4,2021-06-03 00:54:37 India Standard Time,msknowledgehub1,#jobseekers #jobvsmlm #MLM #directselling #net...,en,0.0,0.0,2
4,5,2021-06-03 00:38:41 India Standard Time,usmanitoheed,@UsmaniToheed This is the same mosque which u...,en,0.0,0.0,1
...,...,...,...,...,...,...,...,...
2435,1022,2021-06-01T09:45:16.000Z,NaN,Thinking about Covid-19 impacted families in m...,en,NaN,NaN,NaN
2436,1023,2021-06-01T09:12:36.000Z,NaN,#IndiaFightsCorona The entire Govt machinery i...,en,NaN,1.0,2
2437,1024,2021-06-01T08:08:54.000Z,NaN,One more young life .....covid 19 husband’s co...,en,1.0,NaN,1
2438,1025,2021-06-01T08:01:46.000Z,NaN,Replying to \n@learner_vk\n \n@nsitharaman\n a...,en,NaN,NaN,NaN
2439,1026,2021-06-01T02:27:12.000Z,NaN,"These effective vaccines can protect me, my fa...",en,NaN,NaN,1

In [89]:
june.columns

Index(['Unnamed: 0.1', 'created_at', 'username', 'tweet', 'language',
       'replies_count', 'retweets_count', 'likes_count'],
      dtype='object')

In [90]:
june[['replies_count','retweets_count', 'likes_count']]=june[['replies_count','retweets_count', 'likes_count']].fillna(0)

In [91]:
june

,Unnamed: 0.1,created_at,username,tweet,language,replies_count,retweets_count,likes_count
0,0,2021-06-03 03:35:55 India Standard Time,albosaily1958,Did anyone notice a change in their psychologi...,en,0.0,0.0,1
1,2,2021-06-03 01:38:30 India Standard Time,stickwithchick,"Say goodbye to the “Indian,” “South African” a...",en,0.0,0.0,1
2,3,2021-06-03 00:59:28 India Standard Time,ssforgdel,"Dear all, Keep Donate Keep Retweet https://t...",en,0.0,2.0,1
3,4,2021-06-03 00:54:37 India Standard Time,msknowledgehub1,#jobseekers #jobvsmlm #MLM #directselling #net...,en,0.0,0.0,2
4,5,2021-06-03 00:38:41 India Standard Time,usmanitoheed,@UsmaniToheed This is the same mosque which u...,en,0.0,0.0,1
...,...,...,...,...,...,...,...,...
2435,1022,2021-06-01T09:45:16.000Z,NaN,Thinking about Covid-19 impacted families in m...,en,0.0,0.0,0
2436,1023,2021-06-01T09:12:36.000Z,NaN,#IndiaFightsCorona The entire Govt machinery i...,en,0.0,1.0,2
2437,1024,2021-06-01T08:08:54.000Z,NaN,One more young life .....covid 19 husband’s co...,en,1.0,0.0,1
2438,1025,2021-06-01T08:01:46.000Z,NaN,Replying to \n@learner_vk\n \n@nsitharaman\n a...,en,0.0,0.0,0
2439,1026,2021-06-01T02:27:12.000Z,NaN,"These effective vaccines can protect me, my fa...",en,0.0,0.0,1

In [92]:
JuneTweet=june[['tweet','language']]

In [93]:
JuneTweet

                                                  tweet language
0     Did anyone notice a change in their psychologi...       en
1     Say goodbye to the “Indian,” “South African” a...       en
2     Dear all, Keep Donate Keep Retweet   https://t...       en
3     #jobseekers #jobvsmlm #MLM #directselling #net...       en
4     @UsmaniToheed  This is the same mosque which u...       en
...                                                 ...      ...
2435  Thinking about Covid-19 impacted families in m...       en
2436  #IndiaFightsCorona The entire Govt machinery i...       en
2437  One more young life .....covid 19 husband’s co...       en
2438  Replying to \n@learner_vk\n \n@nsitharaman\n a...       en
2439  These effective vaccines can protect me, my fa...       en

[2439 rows x 2 columns]

In [94]:
JuneTweet=JuneTweet.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')

In [95]:
JuneTweet

      index                                              tweet language
0         0  Did anyone notice a change in their psychologi...       en
1         1  Say goodbye to the “Indian,” “South African” a...       en
2         2  Dear all, Keep Donate Keep Retweet   https://t...       en
3         3  #jobseekers #jobvsmlm #MLM #directselling #net...       en
4         4  @UsmaniToheed  This is the same mosque which u...       en
...     ...                                                ...      ...
2434   2435  Thinking about Covid-19 impacted families in m...       en
2435   2436  #IndiaFightsCorona The entire Govt machinery i...       en
2436   2437  One more young life .....covid 19 husband’s co...       en
2437   2438  Replying to \n@learner_vk\n \n@nsitharaman\n a...       en
2438   2439  These effective vaccines can protect me, my fa...       en

[2439 rows x 3 columns]

In [96]:
JuneTweet.drop(['index'],axis=1,inplace=True)

In [97]:
JuneTweet

                                                  tweet language
0     Did anyone notice a change in their psychologi...       en
1     Say goodbye to the “Indian,” “South African” a...       en
2     Dear all, Keep Donate Keep Retweet   https://t...       en
3     #jobseekers #jobvsmlm #MLM #directselling #net...       en
4     @UsmaniToheed  This is the same mosque which u...       en
...                                                 ...      ...
2434  Thinking about Covid-19 impacted families in m...       en
2435  #IndiaFightsCorona The entire Govt machinery i...       en
2436  One more young life .....covid 19 husband’s co...       en
2437  Replying to \n@learner_vk\n \n@nsitharaman\n a...       en
2438  These effective vaccines can protect me, my fa...       en

[2439 rows x 2 columns]

In [98]:
JuneTweet.to_csv('JuneTweet.csv')

### --------extract HASTAGS--------- ###

In [99]:
JuneTweet['hastags']=np.nan

In [100]:
def extract_hastags(text,i=0):
    hashtag_list = []
    for word in text.split():
        if word[0] == '#':
            hashtag_list.append(word[0:])
    JuneTweet['hastags'][i]=hashtag_list
    i+=1

In [101]:
index=JuneTweet.index
print(index)

RangeIndex(start=0, stop=2439, step=1)

In [105]:
extract_hastags(JuneTweet['tweet'][8],8)

In [106]:
JuneTweet['hastags'][8]

[]

In [107]:
for i in range(0,2439):
    text=JuneTweet['tweet'][i]
    extract_hastags(text,i)

In [108]:
JuneTweet['hastags']

0                                                      []
1                                                      []
2       [#milaap, #verified, #campaign, #COVID19, #cor...
3       [#jobseekers, #jobvsmlm, #MLM, #directselling,...
4               [#jamamasjid, #India, #DelhiFightsCorona]
                              ...
2434                          [#spirit, #india, #empathy]
2435                  [#IndiaFightsCorona, #7YearsOfSeva]
2436                                             [#COVID]
2437                                                   []
2438    [#VaccinesWork, #proudTCSer, #GotTheDose, #Uni...
Name: hastags, Length: 2439, dtype: object

### ---- Extract @texts ----

In [109]:
JuneTweet['attherate']=np.nan

In [110]:
def extract_attherate(text,i=0):
    attherate_list = []
    for word in text.split():
        if word[0] == '@':
            attherate_list.append(word[0:])
    JuneTweet['attherate'][i]=attherate_list
    i+=1

In [114]:
for i in range(0,2439):
    text=JuneTweet['tweet'][i]
    extract_attherate(text,i)

In [115]:
JuneTweet['attherate']

0                                               []
1                                               []
2                                               []
3                                               []
4                                  [@UsmaniToheed]
                           ...
2434                                            []
2435                                            []
2436                                            []
2437    [@learner_vk, @nsitharaman, @timesofindia]
2438                                            []
Name: attherate, Length: 2439, dtype: object

In [116]:
JuneTweet.to_csv('JuneTweet.csv')

In [117]:
JuneTweet['urls']=np.nan

In [118]:
def extract_urls(text,i=0):
    attherate_list = []
    for word in text.split():
        if word[0:5] == 'https':
            attherate_list.append(word[0:])
    JuneTweet['urls'][i]=attherate_list
    i+=1

In [119]:
JuneTweet['tweet'][1]

'Say goodbye to the “Indian,” “South African” and "British" Coronavirus variants.  According to the World Health Organization, they’re the Delta, Beta and Alpha variants now.   https://t.co/nkQo4IdGqO'

In [122]:
extract_urls(JuneTweet['tweet'][8],8)

In [123]:
JuneTweet['urls'][1]

nan

In [124]:
for i in range(0,2439):
    text=JuneTweet['tweet'][i]
    extract_urls(text,i)

In [125]:
JuneTweet['urls']

0                              []
1       [https://t.co/nkQo4IdGqO]
2       [https://t.co/TRRT59Sd8K]
3       [https://t.co/fcj7letDwE]
4       [https://t.co/KHGP0eLUT0]
                  ...
2434                           []
2435                           []
2436                           []
2437                           []
2438                           []
Name: urls, Length: 2439, dtype: object

In [126]:
JuneTweet.to_csv('JuneTweet.csv')

In [127]:
JuneTweet

,tweet,language,hastags,attherate,urls
0,Did anyone notice a change in their psychologi...,en,[],[],[]
1,"Say goodbye to the “Indian,” “South African” a...",en,[],[],[https://t.co/nkQo4IdGqO]
2,"Dear all, Keep Donate Keep Retweet https://t...",en,"[#milaap, #verified, #campaign, #COVID19, #cor...",[],[https://t.co/TRRT59Sd8K]
3,#jobseekers #jobvsmlm #MLM #directselling #net...,en,"[#jobseekers, #jobvsmlm, #MLM, #directselling,...",[],[https://t.co/fcj7letDwE]
4,@UsmaniToheed This is the same mosque which u...,en,"[#jamamasjid, #India, #DelhiFightsCorona]",[@UsmaniToheed],[https://t.co/KHGP0eLUT0]
...,...,...,...,...,...
2434,Thinking about Covid-19 impacted families in m...,en,"[#spirit, #india, #empathy]",[],[]
2435,#IndiaFightsCorona The entire Govt machinery i...,en,"[#IndiaFightsCorona, #7YearsOfSeva]",[],[]
2436,One more young life .....covid 19 husband’s co...,en,[#COVID],[],[]
2437,Replying to \n@learner_vk\n \n@nsitharaman\n a...,en,[],"[@learner_vk, @nsitharaman, @timesofindia]",[]
2438,"These effective vaccines can protect me, my fa...",en,"[#VaccinesWork, #proudTCSer, #GotTheDose, #Uni...",[],[]

In [128]:
JuneTweet['tokenized_Tweet']=np.nan

In [129]:
def tokenizing(text,i=0):
    text=tb(text)
    token_text=text.words
    token_text
    JuneTweet['tokenized_Tweet'][i]=token_text

In [130]:
tokenizing(JuneTweet['tweet'][0],0)

C:\Users\gango\AppData\Local\Temp/ipykernel_20220/1683041727.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  JuneTweet['tokenized_Tweet'][i]=token_text
C:\Users\gango\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [131]:
JuneTweet['tokenized_Tweet'][0]

WordList(['Did', 'anyone', 'notice', 'a', 'change', 'in', 'their', 'psychological', 'and', 'physical', 'condition', 'after', 'he', 'took', 'the', 'coronavirus', 'vaccine'])

In [132]:
JuneTweet['tweet'][0]

'Did anyone notice a change in their psychological and physical condition after he took the coronavirus vaccine?'

In [133]:
for i in range(0,2439):
    text=JuneTweet['tweet'][i]
    tokenizing(text,i)

In [134]:
JuneTweet['tokenized_Tweet']

0       [Did, anyone, notice, a, change, in, their, ps...
1       [Say, goodbye, to, the, “, Indian, ”, “, South...
2       [Dear, all, Keep, Donate, Keep, Retweet, https...
3       [jobseekers, jobvsmlm, MLM, directselling, net...
4       [UsmaniToheed, This, is, the, same, mosque, wh...
                              ...
2434    [Thinking, about, Covid-19, impacted, families...
2435    [IndiaFightsCorona, The, entire, Govt, machine...
2436    [One, more, young, life, covid, 19, husband, ’...
2437    [Replying, to, learner_vk, nsitharaman, and, t...
2438    [These, effective, vaccines, can, protect, me,...
Name: tokenized_Tweet, Length: 2439, dtype: object

In [135]:
JuneTweet.to_csv('JuneTweet.csv')

In [136]:
JuneTweet

,tweet,language,hastags,attherate,urls,tokenized_Tweet
0,Did anyone notice a change in their psychologi...,en,[],[],[],"[Did, anyone, notice, a, change, in, their, ps..."
1,"Say goodbye to the “Indian,” “South African” a...",en,[],[],[https://t.co/nkQo4IdGqO],"[Say, goodbye, to, the, “, Indian, ”, “, South..."
2,"Dear all, Keep Donate Keep Retweet https://t...",en,"[#milaap, #verified, #campaign, #COVID19, #cor...",[],[https://t.co/TRRT59Sd8K],"[Dear, all, Keep, Donate, Keep, Retweet, https..."
3,#jobseekers #jobvsmlm #MLM #directselling #net...,en,"[#jobseekers, #jobvsmlm, #MLM, #directselling,...",[],[https://t.co/fcj7letDwE],"[jobseekers, jobvsmlm, MLM, directselling, net..."
4,@UsmaniToheed This is the same mosque which u...,en,"[#jamamasjid, #India, #DelhiFightsCorona]",[@UsmaniToheed],[https://t.co/KHGP0eLUT0],"[UsmaniToheed, This, is, the, same, mosque, wh..."
...,...,...,...,...,...,...
2434,Thinking about Covid-19 impacted families in m...,en,"[#spirit, #india, #empathy]",[],[],"[Thinking, about, Covid-19, impacted, families..."
2435,#IndiaFightsCorona The entire Govt machinery i...,en,"[#IndiaFightsCorona, #7YearsOfSeva]",[],[],"[IndiaFightsCorona, The, entire, Govt, machine..."
2436,One more young life .....covid 19 husband’s co...,en,[#COVID],[],[],"[One, more, young, life, covid, 19, husband, ’..."
2437,Replying to \n@learner_vk\n \n@nsitharaman\n a...,en,[],"[@learner_vk, @nsitharaman, @timesofindia]",[],"[Replying, to, learner_vk, nsitharaman, and, t..."
2438,"These effective vaccines can protect me, my fa...",en,"[#VaccinesWork, #proudTCSer, #GotTheDose, #Uni...",[],[],"[These, effective, vaccines, can, protect, me,..."

### ------Removing stopwords------- ###

In [137]:
JuneTweet['filteredToken']=np.nan

In [138]:
text_set=set(JuneTweet['tokenized_Tweet'][0])
stop_set=set(stopwords.words("english"))
JuneTweet['filteredToken'][0]=list(text_set-stop_set)

C:\Users\gango\AppData\Local\Temp/ipykernel_20220/2016686119.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  JuneTweet['filteredToken'][0]=list(text_set-stop_set)
C:\Users\gango\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [139]:
JuneTweet['tokenized_Tweet'][0]

WordList(['Did', 'anyone', 'notice', 'a', 'change', 'in', 'their', 'psychological', 'and', 'physical', 'condition', 'after', 'he', 'took', 'the', 'coronavirus', 'vaccine'])

In [140]:
text_set=set(JuneTweet['tokenized_Tweet'][0])
stop_set=set(stopwords.words("english"))
JuneTweet['filteredToken'][0]=list(text_set-stop_set)

In [141]:
JuneTweet

,tweet,language,hastags,attherate,urls,tokenized_Tweet,filteredToken
0,Did anyone notice a change in their psychologi...,en,[],[],[],"[Did, anyone, notice, a, change, in, their, ps...","[Did, change, notice, coronavirus, condition, ..."
1,"Say goodbye to the “Indian,” “South African” a...",en,[],[],[https://t.co/nkQo4IdGqO],"[Say, goodbye, to, the, “, Indian, ”, “, South...",NaN
2,"Dear all, Keep Donate Keep Retweet https://t...",en,"[#milaap, #verified, #campaign, #COVID19, #cor...",[],[https://t.co/TRRT59Sd8K],"[Dear, all, Keep, Donate, Keep, Retweet, https...",NaN
3,#jobseekers #jobvsmlm #MLM #directselling #net...,en,"[#jobseekers, #jobvsmlm, #MLM, #directselling,...",[],[https://t.co/fcj7letDwE],"[jobseekers, jobvsmlm, MLM, directselling, net...",NaN
4,@UsmaniToheed This is the same mosque which u...,en,"[#jamamasjid, #India, #DelhiFightsCorona]",[@UsmaniToheed],[https://t.co/KHGP0eLUT0],"[UsmaniToheed, This, is, the, same, mosque, wh...",NaN
...,...,...,...,...,...,...,...
2434,Thinking about Covid-19 impacted families in m...,en,"[#spirit, #india, #empathy]",[],[],"[Thinking, about, Covid-19, impacted, families...",NaN
2435,#IndiaFightsCorona The entire Govt machinery i...,en,"[#IndiaFightsCorona, #7YearsOfSeva]",[],[],"[IndiaFightsCorona, The, entire, Govt, machine...",NaN
2436,One more young life .....covid 19 husband’s co...,en,[#COVID],[],[],"[One, more, young, life, covid, 19, husband, ’...",NaN
2437,Replying to \n@learner_vk\n \n@nsitharaman\n a...,en,[],"[@learner_vk, @nsitharaman, @timesofindia]",[],"[Replying, to, learner_vk, nsitharaman, and, t...",NaN
2438,"These effective vaccines can protect me, my fa...",en,"[#VaccinesWork, #proudTCSer, #GotTheDose, #Uni...",[],[],"[These, effective, vaccines, can, protect, me,...",NaN

In [142]:
JuneTweet.to_csv('JuneTweet_(with Emojis and other language within eng sentence).csv')