In [33]:
import pandas as pd
import numpy as np
import math
from textblob import TextBlob as tb
import re

In [34]:
june=pd.read_csv('JuneRaw.csv')

In [35]:
june.columns

Index(['Unnamed: 0', 'created_at', 'username', 'tweet', 'language',
       'replies_count', 'retweets_count', 'likes_count'],
      dtype='object')

In [36]:
june.drop(['Unnamed: 0'],axis=1,inplace=True)

In [37]:
june.columns

Index(['created_at', 'username', 'tweet', 'language', 'replies_count',
       'retweets_count', 'likes_count'],
      dtype='object')

In [38]:
june['language'].unique()

array(['en', 'ar', 'mr', 'und', 'hi', 'tl', 'in', 'ja', 'ta', 'ht', 'kn',
       'ur', 'gu', 'es', 'bn', 'ca', 'et', 'ro', 'si', 'te', 'th', 'it',
       'or', 'pt', 'de'], dtype=object)

In [39]:
for i in june['language']:
    index_names = june[june['language']!='en' ].index
    june.drop(index_names, inplace = True)

In [40]:
june.shape

(1286, 7)

In [41]:
duplicates = june[june.duplicated()]
duplicates.shape

(152, 7)

In [42]:
june=june.drop_duplicates(keep='first')
june.shape

(1134, 7)

In [43]:
june

,created_at,username,tweet,language,replies_count,retweets_count,likes_count
0,2021-06-03 03:35:55 India Standard Time,albosaily1958,Did anyone notice a change in their psychologi...,en,0.0,0.0,1
2,2021-06-03 01:38:30 India Standard Time,stickwithchick,"Say goodbye to the “Indian,” “South African” a...",en,0.0,0.0,1
3,2021-06-03 00:59:28 India Standard Time,ssforgdel,"Dear all, Keep Donate Keep Retweet https://t...",en,0.0,2.0,1
4,2021-06-03 00:54:37 India Standard Time,msknowledgehub1,#jobseekers #jobvsmlm #MLM #directselling #net...,en,0.0,0.0,2
5,2021-06-03 00:38:41 India Standard Time,usmanitoheed,@UsmaniToheed This is the same mosque which u...,en,0.0,0.0,1
...,...,...,...,...,...,...,...
1603,2021-06-02T11:53:25.000Z,NaN,"OIL Hospital, Duliajan arranged for COVID-19 v...",en,NaN,4.0,23
1605,2021-06-02T08:27:31.000Z,NaN,Just In: Former West Bengal CM Buddhadeb Bhatt...,en,4.0,21.0,317
1606,2021-06-01T18:39:10.000Z,NaN,Bangladesh govt extends lockdown in five Rohin...,en,3.0,3.0,25
1608,2021-06-01T13:43:44.000Z,NaN,Hope things get better soon. \n#indiachoked #I...,en,NaN,2.0,NaN
1612,2021-06-01T09:12:36.000Z,NaN,#IndiaFightsCorona The entire Govt machinery i...,en,NaN,1.0,2

In [44]:
june.columns

Index(['created_at', 'username', 'tweet', 'language', 'replies_count',
       'retweets_count', 'likes_count'],
      dtype='object')

In [45]:
june[['replies_count','retweets_count', 'likes_count']]=june[['replies_count','retweets_count', 'likes_count']].fillna(0)

In [46]:
june

,created_at,username,tweet,language,replies_count,retweets_count,likes_count
0,2021-06-03 03:35:55 India Standard Time,albosaily1958,Did anyone notice a change in their psychologi...,en,0.0,0.0,1
2,2021-06-03 01:38:30 India Standard Time,stickwithchick,"Say goodbye to the “Indian,” “South African” a...",en,0.0,0.0,1
3,2021-06-03 00:59:28 India Standard Time,ssforgdel,"Dear all, Keep Donate Keep Retweet https://t...",en,0.0,2.0,1
4,2021-06-03 00:54:37 India Standard Time,msknowledgehub1,#jobseekers #jobvsmlm #MLM #directselling #net...,en,0.0,0.0,2
5,2021-06-03 00:38:41 India Standard Time,usmanitoheed,@UsmaniToheed This is the same mosque which u...,en,0.0,0.0,1
...,...,...,...,...,...,...,...
1603,2021-06-02T11:53:25.000Z,NaN,"OIL Hospital, Duliajan arranged for COVID-19 v...",en,0.0,4.0,23
1605,2021-06-02T08:27:31.000Z,NaN,Just In: Former West Bengal CM Buddhadeb Bhatt...,en,4.0,21.0,317
1606,2021-06-01T18:39:10.000Z,NaN,Bangladesh govt extends lockdown in five Rohin...,en,3.0,3.0,25
1608,2021-06-01T13:43:44.000Z,NaN,Hope things get better soon. \n#indiachoked #I...,en,0.0,2.0,0
1612,2021-06-01T09:12:36.000Z,NaN,#IndiaFightsCorona The entire Govt machinery i...,en,0.0,1.0,2

In [47]:
JuneTweet=june[['tweet','language']]

In [48]:
JuneTweet

                                                  tweet language
0     Did anyone notice a change in their psychologi...       en
2     Say goodbye to the “Indian,” “South African” a...       en
3     Dear all, Keep Donate Keep Retweet   https://t...       en
4     #jobseekers #jobvsmlm #MLM #directselling #net...       en
5     @UsmaniToheed  This is the same mosque which u...       en
...                                                 ...      ...
1603  OIL Hospital, Duliajan arranged for COVID-19 v...       en
1605  Just In: Former West Bengal CM Buddhadeb Bhatt...       en
1606  Bangladesh govt extends lockdown in five Rohin...       en
1608  Hope things get better soon. \n#indiachoked #I...       en
1612  #IndiaFightsCorona The entire Govt machinery i...       en

[1134 rows x 2 columns]

In [49]:
JuneTweet=JuneTweet.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')

In [50]:
JuneTweet

      index                                              tweet language
0         0  Did anyone notice a change in their psychologi...       en
1         2  Say goodbye to the “Indian,” “South African” a...       en
2         3  Dear all, Keep Donate Keep Retweet   https://t...       en
3         4  #jobseekers #jobvsmlm #MLM #directselling #net...       en
4         5  @UsmaniToheed  This is the same mosque which u...       en
...     ...                                                ...      ...
1129   1603  OIL Hospital, Duliajan arranged for COVID-19 v...       en
1130   1605  Just In: Former West Bengal CM Buddhadeb Bhatt...       en
1131   1606  Bangladesh govt extends lockdown in five Rohin...       en
1132   1608  Hope things get better soon. \n#indiachoked #I...       en
1133   1612  #IndiaFightsCorona The entire Govt machinery i...       en

[1134 rows x 3 columns]

In [51]:
JuneTweet.drop(['index'],axis=1,inplace=True)

In [52]:
JuneTweet

                                                  tweet language
0     Did anyone notice a change in their psychologi...       en
1     Say goodbye to the “Indian,” “South African” a...       en
2     Dear all, Keep Donate Keep Retweet   https://t...       en
3     #jobseekers #jobvsmlm #MLM #directselling #net...       en
4     @UsmaniToheed  This is the same mosque which u...       en
...                                                 ...      ...
1129  OIL Hospital, Duliajan arranged for COVID-19 v...       en
1130  Just In: Former West Bengal CM Buddhadeb Bhatt...       en
1131  Bangladesh govt extends lockdown in five Rohin...       en
1132  Hope things get better soon. \n#indiachoked #I...       en
1133  #IndiaFightsCorona The entire Govt machinery i...       en

[1134 rows x 2 columns]

In [53]:
JuneTweet.to_csv('JuneTweet.csv')

### --------REMOVING HASTAGS--------- ###

In [54]:
JuneTweet['hastags']=np.nan

In [55]:
def extract_hastags(text,i=0):
    
    hashtag_list = []
    for word in text.split():
        if word[0] == '#':
            hashtag_list.append(word[0:])
    JuneTweet['hastags'][i]=hashtag_list
    i+=1

In [56]:
index=JuneTweet.index
print(index)

RangeIndex(start=0, stop=1134, step=1)

In [57]:
JuneTweet['tweet'][8]

'How’s the coronavirus situation in pakistan? Have the daily cases gone down?'

In [58]:
extract_hastags(JuneTweet['tweet'][8],8)

C:\Users\gango\AppData\Local\Temp/ipykernel_14696/1744439503.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  JuneTweet['hastags'][i]=hashtag_list
C:\Users\gango\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

ValueError: setting an array element with a sequence.

In [ ]:
JuneTweet['hastags'][8]

In [ ]:
for i in range(0,1134):
    text=JuneTweet['tweet'][i]
    extract_hastags(text,i)

In [ ]:
JuneTweet['hastags']

### ---- Removing @texts ----

In [ ]:
JuneTweet['attherate']=np.nan

In [ ]:
def extract_attherate(text,i=0):
    attherate_list = []
    for word in text.split():
        if word[0] == '@':
            attherate_list.append(word[0:])
    JuneTweet['attherate'][i]=attherate_list
    i+=1

In [ ]:
for i in range(0,1134):
    text=JuneTweet['tweet'][i]
    extract_attherate(text,i)

C:\Users\gango\AppData\Local\Temp/ipykernel_14696/3761553457.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  JuneTweet['attherate'][i]=attherate_list

ValueError: setting an array element with a sequence.

In [ ]:
JuneTweet['attherate']

In [ ]:
JuneTweet.to_csv('JuneTweet.csv')

In [ ]:
JuneTweet['urls']=np.nan

In [ ]:
def extract_urls(text,i=0):
    attherate_list = []
    for word in text.split():
        if word[0:5] == 'https':
            attherate_list.append(word[0:])
    JuneTweet['urls'][i]=attherate_list
    i+=1

In [ ]:
JuneTweet['tweet'][1]

In [ ]:
extract_urls(JuneTweet['tweet'][1],1)

In [ ]:
JuneTweet['urls'][1]

In [ ]:
for i in range(0,1993):
    text=JuneTweet['tweet'][i]
    extract_urls(text,i)

In [ ]:
JuneTweet['urls']

In [ ]:
JuneTweet.to_csv('JuneTweet.csv')

In [ ]:
JuneTweet

In [ ]:
JuneTweet['tokenized_Tweet']=np.nan

In [ ]:
def tokenizing(text,i=0):
    text=tb(text)
    token_text=text.words
    token_text
    JuneTweet['tokenized_Tweet'][i]=token_text

In [ ]:
tokenizing(JuneTweet['tweet'][0],0)

In [ ]:
JuneTweet['tokenized_Tweet'][0]

In [ ]:
JuneTweet['tweet'][0]

In [ ]:
for i in range(0,1134):
    text=JuneTweet['tweet'][i]
    tokenizing(text,i)

In [ ]:
JuneTweet['tokenized_Tweet']

In [ ]:
JuneTweet.to_csv('JuneTweet.csv')