In [1]:
import pandas as pd
import numpy as np

In [2]:
march_covid=pd.read_csv('marchT-covid.csv')
march_Covid_19=pd.read_csv('marchT-Covid_19.csv')
march_remdesivir=pd.read_csv('marchT-remdesivir.csv')

In [4]:
March_temp=pd.concat([march_Covid_19, march_remdesivir])
March1=pd.concat([march_covid,March_temp])

In [5]:
March1.shape

(536, 36)

In [11]:
march_Top=pd.read_csv('Covid_tweets(march-2021-topSection).csv')
march_Latest=pd.read_csv('Covid_tweets(march-2021-latest).csv')

In [12]:
march_Top.columns

Index(['UserName', 'Userhandle', 'Time', 'comments', 'likes', 'retweets',
       'Tweet'],
      dtype='object')

In [13]:
march_Latest.columns

Index(['UserName', 'Userhandle', 'Time', 'comments', 'retweets', 'likes',
       'Tweet'],
      dtype='object')

In [14]:
march2=pd.concat([march_Latest, march_Top])

In [15]:
march2.columns

Index(['UserName', 'Userhandle', 'Time', 'comments', 'retweets', 'likes',
       'Tweet'],
      dtype='object')

In [17]:
march2.drop(['Userhandle'],axis=1,inplace=True)

In [18]:
march2.columns

Index(['UserName', 'Time', 'comments', 'retweets', 'likes', 'Tweet'], dtype='object')

In [19]:
march2=march2.rename(columns={'UserName':'username','Time':'created_at','comments':'replies_count','retweets':'retweets_count','likes':'likes_count','Tweet':'tweet'})

In [20]:
march2.columns

Index(['username', 'created_at', 'replies_count', 'retweets_count',
       'likes_count', 'tweet'],
      dtype='object')

In [23]:
march2["language"]='en'

In [24]:
march2.columns

Index(['username', 'created_at', 'replies_count', 'retweets_count',
       'likes_count', 'tweet', 'language'],
      dtype='object')

In [25]:
March1.drop(['trans_dest', 'trans_src', 'retweet_id', 'reply_to', 'retweet_date', 'translate', 'geo', 'source', 'user_rt_id', 'user_rt', 'video', 'thumbnail', 'quote_url', 'near',
                 'id', 'conversation_id', 'date', 'time', 'place', 'mentions', 'urls', 'photos', 'hashtags', 'cashtags', 'link', 'retweet', 'timezone', 'user_id', 'name'], axis=1, inplace=True)
March1.shape

(536, 7)

In [26]:
march2.shape

(148, 7)

In [27]:
March_Raw=pd.concat([March1, march2])

In [28]:
March_Raw.shape

(684, 7)

In [29]:
March_Raw.columns

Index(['created_at', 'username', 'tweet', 'language', 'replies_count',
       'retweets_count', 'likes_count'],
      dtype='object')

In [30]:
March_Raw.to_csv('March_Ayush_Raw.csv')

In [32]:
March_Raw

,created_at,username,tweet,language,replies_count,retweets_count,likes_count
0,2021-03-30 05:14:05 India Standard Time,sipgrab,Not much love for COVID-19 vaccine at Miami Op...,en,0.0,0.0,0.0
1,2021-03-30 05:01:42 India Standard Time,pontianakterek,Personil polresta melaksanakan piket jaga mako...,in,0.0,0.0,1.0
2,2021-03-30 04:58:05 India Standard Time,sipgrab,"Britons worry less about COVID and Brexit, but...",en,0.0,0.0,0.0
3,2021-03-30 04:49:59 India Standard Time,neeraj19453318,@PawarSpeaks @narendramodi @PMOIndia Ye budhe ...,hi,0.0,0.0,0.0
4,2021-03-30 04:34:43 India Standard Time,richardbarrow,I just arrived at school and noticed that the ...,en,3.0,9.0,80.0
...,...,...,...,...,...,...,...
62,2021-03-03T15:07:35.000Z,Mridul Sen,@CMOMaharashtra\n If you guys cannot control c...,en,NaN,NaN,NaN
63,2021-03-20T05:16:18.000Z,Yoriichi Tsugikuni,@MamataOfficial\n \n@BanglarGorboMB\n \n@AITCo...,en,NaN,NaN,NaN
64,2021-03-09T16:19:39.000Z,Amit Mukherjee,Replying to \n@RailwaySeva,en,NaN,NaN,NaN
65,2021-03-14T03:07:58.000Z,Purushottam Prashar,@narendramodi\n \n@drharshvardhan\n Dear sir r...,en,1.0,1.0,1.0
66,2021-03-14T13:59:24.000Z,Purushottam Prashar,@narendramodi\n \n@drharshvardhan\n \n@aajtak\...,en,NaN,1.0,1.0