In [1]:
import pandas as pd
import numpy as np

In [2]:
april_covid=pd.read_csv('april(T-covid).csv')
april_Covid_19=pd.read_csv('april(T-Covid_19).csv')
april_remdesivir=pd.read_csv('april(T-remdesivir).csv')

In [3]:
april_temp=pd.concat([april_Covid_19, april_remdesivir])
april1=pd.concat([april_covid,april_temp])

In [4]:
april1.shape

(764, 36)

In [5]:
april_Top=pd.read_csv('covidTweets(april-2021-TopSection).csv')
april_Latest=pd.read_csv('covidTweets(april-2021-latest).csv.csv')

In [6]:
april_Latest.columns

Index(['UserName', 'userhandle', 'Time', 'comments', 'retweets', 'likes',
       'Tweet'],
      dtype='object')

In [7]:
april_Top.columns

Index(['UserName', 'userhandle', 'Time', 'comments', 'retweets', 'likes',
       'Tweet'],
      dtype='object')

In [8]:
april2=pd.concat([april_Latest, april_Top])

In [10]:
april2.drop(['userhandle'],axis=1,inplace=True)

In [11]:
april2=april2.rename(columns={'UserName':'username','Time':'created_at','comments':'replies_count','retweets':'retweets_count','likes':'likes_count','Tweet':'tweet'})

In [12]:
april2["language"]='en'

In [13]:
april1.drop(['trans_dest', 'trans_src', 'retweet_id', 'reply_to', 'retweet_date', 'translate', 'geo', 'source', 'user_rt_id', 'user_rt', 'video', 'thumbnail', 'quote_url', 'near',
                 'id', 'conversation_id', 'date', 'time', 'place', 'mentions', 'urls', 'photos', 'hashtags', 'cashtags', 'link', 'retweet', 'timezone', 'user_id', 'name'], axis=1, inplace=True)
april1.shape

(764, 7)

In [14]:
April_Raw=pd.concat([april1, april2])

In [15]:
April_Raw.columns

Index(['created_at', 'username', 'tweet', 'language', 'replies_count',
       'retweets_count', 'likes_count'],
      dtype='object')

In [16]:
April_Raw

,created_at,username,tweet,language,replies_count,retweets_count,likes_count
0,2021-04-04 05:25:05 India Standard Time,rengat_barat,*Polsek Rengat Barat Bersama TNI Dan Sat Pol P...,in,0.0,0.0,0.0
1,2021-04-04 05:12:12 India Standard Time,iammohamadkhan,Shocking 2 learn about the sad demise of @Kamr...,en,0.0,1.0,4.0
2,2021-04-04 05:06:21 India Standard Time,xbe119,I'm at COVID-19 Vaccine Center - @saudimoh in ...,ca,0.0,0.0,0.0
3,2021-04-04 04:57:47 India Standard Time,tweetwika,@mayurtheboi Sending covid hugs üëç,en,0.0,0.0,2.0
4,2021-04-04 04:37:43 India Standard Time,iiirdi,@Trendulkar @hvgoenka True and the best or wor...,en,0.0,0.0,0.0
...,...,...,...,...,...,...,...
80,2021-04-22T17:19:30.000Z,Santanu Sengupta ‡¶∂‡¶æ‡¶®‡ßç‡¶§‡¶®‡ßÅ ‡¶∏‡ßá‡¶®‡¶ó‡ßÅ‡¶™‡ßç‡¶§,Replying to \n@virsanghvi\n and \n@gauravcsawant,en,NaN,NaN,NaN
81,2021-04-18T15:33:38.000Z,Siddhant Mishra,@navikakumar\n did u take your eyes off the Co...,en,1.0,NaN,3.0
82,2021-04-19T14:17:53.000Z,PIB in Tripura,Government of India announces a Liberalised an...,en,NaN,1.0,1.0
83,2021-04-05T05:41:30.000Z,VISHAL SINGH,Replying to \n@Arun07Satapathy\n and \n@otvnews,en,NaN,NaN,NaN
84,2021-04-22T10:22:25.000Z,Urbasi Bhattacharyya,@narendramodi\n Pls don't come to West Bengal ...,en,1.0,NaN,1.0

In [17]:
April_Raw.to_csv('April_Ayush_Raw.csv')