In [10]:
import numpy as np
import pandas as pd

In [11]:
june_covid = pd.read_csv('june(T-covid).csv')
june_Covid_19 = pd.read_csv('june(T-Covid_19).csv')
june_remdesivir = pd.read_csv('june(T-remdesivir).csv')

In [12]:
duplicates = june_covid[june_covid.duplicated()]
duplicates.shape

(0, 36)

In [13]:
duplicates = june_Covid_19[june_Covid_19.duplicated()]
duplicates.shape

(0, 36)

In [14]:
duplicates = june_remdesivir[june_remdesivir.duplicated()]
duplicates.shape

(12, 36)

In [15]:
june_remdesivir.drop_duplicates(keep ="first", inplace = True)

In [16]:
duplicates = june_remdesivir[june_remdesivir.duplicated()]
duplicates.shape

(0, 36)

In [17]:
june_Temp = pd.concat([june_Covid_19, june_covid]).drop_duplicates()
juneKeyAyush = pd.concat([june_Temp, june_remdesivir]).drop_duplicates()
juneKeyAyush.shape

(652, 36)

In [18]:
juneKeyAyush.drop(['trans_dest', 'trans_src', 'retweet_id', 'reply_to', 'retweet_date', 'translate', 'geo', 'source', 'user_rt_id', 'user_rt', 'video', 'thumbnail', 'quote_url', 'near',
                 'id', 'conversation_id', 'date', 'time', 'place', 'mentions', 'urls', 'photos', 'hashtags', 'cashtags', 'link', 'retweet', 'timezone', 'user_id', 'name'], axis=1, inplace=True)
juneKeyAyush.shape

(652, 7)

In [19]:
juneT=pd.read_csv('covidtweets(june-TopSectio).csv')
juneL=pd.read_csv('covidtweets(june-2021-LatestSection).csv')

In [26]:
juneL.columns

Index(['Username', 'Userhandle', 'Time', 'comments', 'Retweets', 'likes',
       'Tweet'],
      dtype='object')

In [27]:
juneT.columns

Index(['Username', 'Userhandle', 'Time', 'comments', 'retweets', 'likes',
       'Tweet'],
      dtype='object')

In [28]:
juneL = juneL.rename(columns={'Retweets':'retweets'})

In [29]:
juneLT=pd.concat([juneL, juneT]).drop_duplicates()

In [30]:
duplicates = juneLT[juneLT.duplicated()]
duplicates.shape

(0, 7)

In [31]:
juneLT.columns

Index(['Username', 'Userhandle', 'Time', 'comments', 'retweets', 'likes',
       'Tweet'],
      dtype='object')

In [32]:
juneLT.drop(['Userhandle'], axis=1, inplace=True)
juneLT = juneLT.rename(columns={'Username': 'username', 'Time': 'created_at', 'comments': 'replies_count',
                     'Retweets': 'retweets_count', 'likes': 'likes_count', 'Tweet': 'tweet','retweets':'retweets_count'})
juneLT["language"]=np.nan

In [33]:
juneLT.columns

Index(['username', 'created_at', 'replies_count', 'retweets_count',
       'likes_count', 'tweet', 'language'],
      dtype='object')

In [34]:
june_KeyLT=pd.concat([juneLT,juneKeyAyush]).drop_duplicates()

In [35]:
june_KeyLT.shape

(826, 7)

In [36]:
june_KeyLT.head(5)

,username,created_at,replies_count,retweets_count,likes_count,tweet,language
0,Ujjwal Roy,2021-06-29T08:30:55.000Z,NaN,1.0,3,My_Coverage_Story \n@ANI\n\n\nCOVID-19 vaccina...,NaN
1,Padmanabhan Jaikumar,2021-06-29T05:51:28.000Z,NaN,NaN,NaN,"With over 32.36 crore Covid-19 vaccinations, I...",NaN
2,Raj Saha,2021-06-28T15:29:47.000Z,NaN,NaN,1,COVID-19 restrictions extended in #WestBengal ...,NaN
3,Full-Vaxxed ভদ্রলোক RajNarayan RoyChoudhury,2021-06-28T13:10:53.000Z,1.0,NaN,1,"Will take me at least 7 (one left for BE, 2 fo...",NaN
4,Mahesh Saharia,2021-06-28T12:06:47.000Z,NaN,1.0,3,Vaccinated health workers at West Hoxton birth...,NaN

In [37]:
june_KeyLT.to_csv("juneRawAyush.csv")

In [38]:
june_KeyLT['language'] =june_KeyLT['language'].fillna('en')
june_KeyLT.head(5)

,username,created_at,replies_count,retweets_count,likes_count,tweet,language
0,Ujjwal Roy,2021-06-29T08:30:55.000Z,NaN,1.0,3,My_Coverage_Story \n@ANI\n\n\nCOVID-19 vaccina...,en
1,Padmanabhan Jaikumar,2021-06-29T05:51:28.000Z,NaN,NaN,NaN,"With over 32.36 crore Covid-19 vaccinations, I...",en
2,Raj Saha,2021-06-28T15:29:47.000Z,NaN,NaN,1,COVID-19 restrictions extended in #WestBengal ...,en
3,Full-Vaxxed ভদ্রলোক RajNarayan RoyChoudhury,2021-06-28T13:10:53.000Z,1.0,NaN,1,"Will take me at least 7 (one left for BE, 2 fo...",en
4,Mahesh Saharia,2021-06-28T12:06:47.000Z,NaN,1.0,3,Vaccinated health workers at West Hoxton birth...,en

In [39]:
june_KeyLT.shape

(826, 7)

In [40]:
for i in june_KeyLT['language']:
    index_names = june_KeyLT[june_KeyLT['language']!='en' ].index
    june_KeyLT.drop(index_names, inplace = True)

In [41]:
june_KeyLT.shape

(406, 7)

In [42]:
june_KeyLT[['replies_count','likes_count','retweets_count',]] =june_KeyLT[['replies_count','likes_count','retweets_count',]].fillna(0)
june_KeyLT

,username,created_at,replies_count,retweets_count,likes_count,tweet,language
1,Padmanabhan Jaikumar,2021-06-29T05:51:28.000Z,0.0,0.0,0,"With over 32.36 crore Covid-19 vaccinations, I...",en
10,Vivek Singh,2021-06-28T02:44:46.000Z,0.0,0.0,1,More than 450 underprivileged beneficiaries we...,en
12,Dipayn Bose,2021-06-27T18:53:53.000Z,0.0,0.0,0,"Baisakhi, 1-year-old, with her older sister st...",en
13,Truecare Medical,2021-06-27T17:48:31.000Z,0.0,0.0,0,Started COVID-19 Vaccination #vaccination #Cov...,en
14,Tirthadeep K,2021-06-27T17:00:45.000Z,0.0,0.0,0,Replying to \n@jdhankhar1\n and \n@MamataOfficial,en
...,...,...,...,...,...,...,...
77,ashish_ramola,2021-06-24 21:01:04 India Standard Time,0.0,1.0,5,March - Remdesivir - Sold out April - oxygen c...,en
78,tusharsy,2021-06-24 19:08:37 India Standard Time,0.0,0.0,1,"March , April , May Remdesivir - not availab...",en
81,arunprasadsinha,2021-06-24 12:55:15 India Standard Time,0.0,0.0,0,"Instead of managing Covid tactfully , BJP lead...",en
84,imwadhwa,2021-06-23 20:47:18 India Standard Time,0.0,0.0,0,"March, April , May Remdesivir - not availabl...",en
90,karthikpgsbabu,2021-06-18 09:01:15 India Standard Time,0.0,0.0,0,"@RAKRI1 From S. Karthikeyan. Sir, Like in Remd...",en

In [ ]:
june_KeyLT.to_csv('JuneTweetAyushFinal.csv')