In [1]:
import pandas as pd

In [2]:
marchTweetTop=pd.read_csv(r'Scrapped tweets\Covid_tweets(march-2021-topSection).csv')

In [3]:
marchTweetTop.head(5)

,User_Name,User_handel,Time,comments,likes,retweets,tweets
0,Nishit Shaw,@NishitShawHere,2021-03-29T05:35:57.000Z,NaN,NaN,1.0,"Recovery rate drops to 94.32%, very very worri..."
1,Harleen,@DontiaHarleen,2021-03-04T08:35:26.000Z,NaN,NaN,NaN,Covid Second dose done\n\n#Covid_19 #COVID19Va...
2,Nishit Shaw,@NishitShawHere,2021-03-27T05:35:43.000Z,NaN,1.0,NaN,"With #SachinTendulkar testing positive, here i..."
3,Prashant Kumar,@scribe_prashant,2021-03-18T05:32:47.000Z,NaN,32.0,11.0,BREAKING: Cases of Covid-19 on rise in nationa...
4,shyamal das,@shyamal81465999,2021-03-22T08:45:59.000Z,NaN,NaN,NaN,Protection covid 19

In [4]:
marchTweetTop.columns

Index(['User_Name', 'User_handel', 'Time', 'comments', 'likes', 'retweets',
       'tweets'],
      dtype='object')

In [5]:
marchTweetTop.shape

(67, 7)

<h1>Top Section Tweet From March(01-03-21 till 31-03-21) is 67 in number with no duplicate tweets</h1>

In [6]:
aprilTweetTop=pd.read_csv('Scrapped tweets\covidTweets(april(01-04021 till 30-04-21-TopSection).csv')

In [7]:
aprilTweetTop.head(5)

,username,userhandel,Time,comments,retweets,likes,tweets
0,Rima Prasad,@RimaPrasad,2021-04-15T07:53:06.000Z,4.0,8.0,55.0,Helpline numbers\n#Covid_19
1,ùêíùêÄùêçùêÉùêÑùêÑùêè,@Sandeep06424827,2021-04-22T02:37:48.000Z,5.0,107.0,103.0,The Centre for Disease Control and Prevention ...
2,planetSetu,@PlanetSetuHQ,2021-04-25T10:34:37.000Z,NaN,1.0,1.0,#SocialDistancing is the key. Please follow al...
3,Hiraan,@hiran_chatterji,2021-04-18T07:05:14.000Z,6.0,38.0,146.0,Pl wear a mask and maintain the distance and f...
4,Manshi | My,@ManshiDS,2021-04-22T05:51:19.000Z,1.0,31.0,13.0,List of PLASMA BANKS in WEST BENGAL for COVID ...

In [8]:
aprilTweetTop.columns

Index(['username', 'userhandel', 'Time', 'comments', 'retweets', 'likes',
       'tweets'],
      dtype='object')

In [9]:
aprilTweetTop.shape

(85, 7)

<h1>Top Section Tweet From April(01-04-21 till 30-04-21) is 85 in number with no duplicate tweets</h1>

In [10]:
maytweetTop=pd.read_csv(r'Scrapped tweets\covidTweets(may-TopSection).csv.csv')

In [11]:
maytweetTop.head(5)

,username,userhandel,time,comments,retweets,likes,tweet
0,Pooja Mehta,@pooja_news,2021-05-21T15:53:39.000Z,9.0,51.0,282,"#GoodNews: A 99-year-old lady, Arati Bhattacha..."
1,Rupam Art,@ArtRupam,2021-05-22T14:23:11.000Z,28.0,71.0,1.4K,@SonuSood\n the real life hero.\n(Pencil sketc...
2,Arpita Mukherjee,@ArpitaM57600621,2021-05-19T03:25:06.000Z,3.0,2.0,8,"Active covid cases in India,May 13th,2021\n#co..."
3,Soumick Mondal,@soumick_raj,2021-05-02T14:22:31.000Z,1.0,1.0,8,Eating Carbohydrates/Sugar in excess regularly...
4,ùêíùêÄùêçùêÉùêÑùêÑùêè,@Sandeep06424827,2021-05-15T11:20:13.000Z,NaN,NaN,NaN,Replying to \n@__Shubhu0123

In [12]:
maytweetTop.columns

Index(['username', 'userhandel', 'time', 'comments', 'retweets', 'likes',
       'tweet'],
      dtype='object')

In [13]:
maytweetTop.shape

(84, 7)

<h1>Top Section Tweet From May(01-05-21 till 31-05-21) is 84 in number with no duplicate tweets</h1>

In [14]:
juneTweetsTop=pd.read_csv(r'Scrapped tweets\covidtweets(june-TopSectio).csv')

In [15]:
juneTweetsTop.head(5)

,username,userhandel,Time,comments,retweets,likes,tweet
0,Pooja Mehta,@pooja_news,2021-06-08T08:34:34.000Z,140.0,888.0,4.2K,"#HeartWrenching: Dr. Arfa Sajadin, who had tes..."
1,ùêíùêÄùêçùêÉùêÑùêÑùêè,@Sandeep06424827,2021-06-24T03:02:01.000Z,2.0,58.0,58,"Considering corona pandemic, when several pris..."
2,Aishwarja Nath,@AishwarjaNath,2021-06-06T01:47:49.000Z,NaN,NaN,NaN,N440K in Gujarat: The new super infective viru...
3,Srijan's Faucet,@Srijans_Faucet,2021-06-09T14:40:21.000Z,NaN,NaN,NaN,The World Health Organization has revealed a n...
4,V I C K Y @25 DEC,@VickyKu25129877,2021-06-08T18:30:50.000Z,NaN,NaN,NaN,Let‚Äôs fight together against #covid_19 .\nGet ...

In [16]:
juneTweetsTop.columns

Index(['username', 'userhandel', 'Time', 'comments', 'retweets', 'likes',
       'tweet'],
      dtype='object')

In [17]:
juneTweetsTop.shape

(79, 7)

<h1>Top Section Tweet From June(01-06-21 till 30-06-21) is 79
 in number with no duplicate tweets</h1>

In [18]:
julyTweetTop=pd.read_csv('Scrapped tweets\covidtweets(july-TopSection).csv.csv')

In [19]:
julyTweetTop.head(5)

,Username,userhandel,Time,comments,retweets,likes,tweet
0,Supratim Chakraborty,@SupratimChakr,2021-07-04T06:54:20.000Z,11.0,61.0,66,After so many Jumlas and acute mismanagement o...
1,Techno Crushur,@TCrushur,2021-07-04T02:38:29.000Z,NaN,NaN,2,Safety is most important during covid-19
2,MD ZAHIR,@MDZAHIR72889357,2021-07-10T23:29:50.000Z,NaN,NaN,NaN,Covid 19 warriors
3,Prasanna Bachhar,@PrasannaBachha4,2021-07-01T03:59:00.000Z,NaN,NaN,NaN,Happy Doctor Day All Doctor Fighting With The ...
4,Raj Saha,@rajsahaofficial,2021-07-28T13:13:49.000Z,NaN,NaN,NaN,Kolkata get's it's normal life slowly \n#kolka...

In [20]:
julyTweetTop.columns

Index(['Username', 'userhandel', 'Time', 'comments', 'retweets', 'likes',
       'tweet'],
      dtype='object')

In [21]:
julyTweetTop.shape

(156, 7)

In [22]:
augustTweetTop=pd.read_csv('Scrapped tweets\covidTweets(August-TopSection).csv.csv')

In [23]:
augustTweetTop.head(5)

,Username,userhandel,Time,comments,retweets,likes,Tweet
0,Chandrima Bhattacharya,@Chandrima_04,2021-08-13T12:50:17.000Z,NaN,8.0,14.0,#Kolkata starts city sampling post lockdown! L...
1,Shantanu Biswas (‡¶∂‡ßÅ‡¶≠‡ßç‡¶∞),@Shantanu_subhra,2021-08-10T03:21:50.000Z,NaN,NaN,NaN,"35,499 cases and 447 deaths in last 24 hours....."
2,Sayan Dey,@sayan_dey,2021-08-10T19:50:58.000Z,NaN,NaN,NaN,"Well, of course! All thanks to you! Actually, ..."
3,Megha Kejriwal,@Megha_journo,2021-08-27T09:48:14.000Z,1.0,1.0,1.0,#BREAKING_NEWS: In view of the #Covid situatio...
4,Sparsh,@info_sparsh,2021-08-24T06:21:58.000Z,NaN,NaN,NaN,What can we do to avoid the Third Wave of Covi...

In [24]:
augustTweetTop.columns

Index(['Username', 'userhandel', 'Time', 'comments', 'retweets', 'likes',
       'Tweet'],
      dtype='object')

In [25]:
augustTweetTop.shape

(63, 7)

<h1>Top Section Tweet From August(01-07-21 till 31-07-21) is 63
 in number with no duplicate tweets</h1>