In [2]:
import pandas as pd

<h1>Merging March Tweets(Top Section tweets and Latest Section Tweets)</h1>

In [3]:
MarchTweetTop=pd.read_csv(r'Scrapped tweets\Covid_tweets(march-2021-topSection).csv')
MarchTweetLatest=pd.read_csv(r'Scrapped tweets\Covid_tweets(march-2021-latest).csv')

<h3>Shape(size) of March tweets from the top section</h3>

In [4]:
MarchTweetTop.shape

(67, 7)

<h3>Shape(size) of March tweets from the Latest section</h3>

In [5]:
MarchTweetLatest.shape

(81, 7)

<h3>Merging both the Section to create the main March Tweet dataframe</h3>

In [6]:
MarchTweet=pd.concat([MarchTweetLatest,MarchTweetTop]).drop_duplicates().reset_index(drop=True)

<h3>shape(size) of the Total Merged March Tweets</h3>

In [7]:
MarchTweet.shape

(81, 7)

<h3>Checking for any duplicate elemnts in MarchTweet</h3>

In [8]:
duplicate = MarchTweet[MarchTweet.duplicated()]

In [9]:

duplicate.shape

(0, 7)

<h3>As the no of row  elements are 0 in duplicate so their are no duplicate tweets</h3>

In [10]:
MarchTweet.head(5)

,UserName,Userhandle,Time,comments,retweets,likes,Tweet
0,Megha Kejriwal,@Megha_journo,2021-03-30T09:18:17.000Z,NaN,NaN,1.0,Airports may levy spot fines if face mask rule...
1,Soumyajit Majumder,@SoumyajitWrites,2021-03-29T15:00:18.000Z,4.0,NaN,11.0,"West Bengal reports 639 new COVID-19 cases, Ko..."
2,Nishit Shaw,@NishitShawHere,2021-03-29T05:35:57.000Z,NaN,1.0,NaN,"Recovery rate drops to 94.32%, very very worri..."
3,Rajlkxmi Datta,@RajlkxmiD,2021-03-28T13:56:19.000Z,NaN,NaN,NaN,Replying to \n@republic
4,Call me WD or Wri,@Wri_Dutta,2021-03-28T07:22:24.000Z,NaN,NaN,NaN,"Doesn’t quite feel like #Holi, but just anothe..."

<h3>Storing the Merged tweet Data into a CSV file named MarchTweets-2021</h3>

In [11]:
MarchTweet.to_csv('MarchTweets-2021.csv')

<h1>Merging April Tweets(Top Section tweets and Latest Section Tweets)</h1>

In [12]:
AprilTweetsTop=pd.read_csv(r'Scrapped tweets\covidTweets(april-2021-TopSection).csv')
AprilTweetsLatest=pd.read_csv(r'Scrapped tweets\covidTweets(april-2021-latest).csv.csv')

<h3>Shape(size) of April tweets from the Top Scetion</h3>

In [13]:
AprilTweetsTop.shape

(85, 7)

<h3>Shape(size) of April tweets from the Latest Scetion</h3>

In [14]:
AprilTweetsLatest.shape

(444, 7)

<h3>Merging both the Section to create the main April Tweet dataframe</h3>

In [15]:
AprilTweet=pd.concat([AprilTweetsLatest,AprilTweetsTop]).drop_duplicates().reset_index(drop=True)

<h3>Checking for the any Duplicated Value in the Merged dataframe</h3>

In [16]:
duplicate = AprilTweet[AprilTweet.duplicated()]

In [17]:
duplicate.shape

(0, 7)

<h3> As the Data of the Row is Zero there are no duplicate elements in AprilTweet</h3>

<h3>Shape(size) of the Main April Tweet data</h3>

In [18]:
AprilTweet.shape

(451, 7)

In [19]:
AprilTweet.head(5)

,UserName,userhandle,Time,comments,retweets,likes,Tweet
0,Sumant Kumar,@SumantKumar2019,2021-04-29T20:16:34.000Z,NaN,NaN,NaN,@MamataOfficial\n\n\n@narendramodi\n \n@DrHVof...
1,MEHEDI HASSAN MONDAL,@MEHEDIH59739306,2021-04-29T18:22:50.000Z,1.0,2.0,3.0,Where is our India'n GOVERNMENT.lack of people...
2,Janta Power,@Power_Janta,2021-04-29T15:57:31.000Z,NaN,NaN,NaN,The media has turned a blind eye to the ongoin...
3,Chakradharparhi,@Chakradharparhi,2021-04-29T12:47:25.000Z,NaN,NaN,NaN,My dear all twiter friends & My siniour person...
4,Janta Power,@Power_Janta,2021-04-29T11:55:41.000Z,2.0,NaN,NaN,@KareenaKapoor\n reveals chat with Taimur abou...

<h3>Storing the Merged tweet Data into a CSV file named AprilTweets-2021</h3>

In [20]:
AprilTweet.to_csv('AprilTweets-2021.csv')

<h1>Merging May Tweets(Top Section tweets and Latest Section Tweets)</h1>

In [21]:
MayTweetTop=pd.read_csv(r'Scrapped tweets\covidTweets(may-TopSection).csv.csv')
MayTweetLatest=pd.read_csv(r'Scrapped tweets\covidTweets(may-2021-Latest).csv')

<h3>Shape(size) of May tweets from the Top Section</h3>

In [22]:
MayTweetTop.shape

(84, 7)

<h3>Shape(size) of May tweets from the Latest Section</h3>

In [23]:
MayTweetLatest.shape

(272, 7)

<h3>Merging both the Section to create the main MayTweet dataframe</h3>

In [24]:
MayTweet=pd.concat([MayTweetLatest,MayTweetTop]).drop_duplicates().reset_index(drop=True)

<h3>Shape(size) of Main May tweets </h3>

In [25]:
MayTweet.shape

(288, 7)

<h3>Checking for the any duplicate values in MayTweet</h3>

In [26]:
duplicate = MayTweet[MayTweet.duplicated()]

In [27]:
duplicate.shape

(0, 7)

<h3>As their is no Values in row there are no duplicate elements</h3>

In [28]:
MayTweet.head(5)

,Username,Userhandle,Time,comments,retweets,likes,Tweet
0,Mohammed Zeeshan,@ZeeshanAITC,2021-05-30T23:31:17.000Z,NaN,1.0,4,#cancelboardexam\nDon't trigger the Covid-19 i...
1,Ujjwal Roy,@ujjwalroy06,2021-05-30T17:33:16.000Z,NaN,1.0,1,Read_My_Coverage_Story \n@ANI\n\n#IHAFoundatio...
2,Sourav_Raj_d,@iSourav_d,2021-05-30T17:21:21.000Z,NaN,NaN,1,"KMC Hon'ble Mayor \n@FirhadHakim\n sir,Inaugur..."
3,Soumyajit Majumder,@SoumyajitWrites,2021-05-30T17:00:48.000Z,1.0,6.0,48,Bengal’s COVID active cases drops below 1 lakh...
4,Saurendranath Konar,@SaurendranathK1,2021-05-30T13:13:13.000Z,1.0,NaN,NaN,"Ramdev again questions Covid-19 vaccines, says..."

<h3>Storing the Merged tweet Data into a CSV file named MayTweets-2021</h3>

In [29]:
MayTweet.to_csv('MayTweets-2021.csv')

<h1>Merging June Tweets(Top Section tweets and Latest Section Tweets)</h1>

In [35]:
JuneTweetTop=pd.read_csv(r"Scrapped tweets\covidtweets(june-TopSectio).csv")
JuneTweetLatest=pd.read_csv(r"Scrapped tweets\covidTweets(may-2021-Latest).csv")

<h3>Shape(size) of the tweets From the Top Section In June</h3>

In [36]:
JuneTweetTop.shape

(79, 7)

<h3>Shape(size) of the tweets From the Latest Section In June</h3>

In [37]:
JuneTweetLatest.shape

(272, 7)

<h3>Merging both the Section to create the main JuneTweet dataframe</h3>

In [40]:
JuneTweet=pd.concat([JuneTweetLatest,JuneTweetTop]).drop_duplicates().reset_index(drop=True)

<h3>shape(size) of the main JuneTweet dataFrame</h3>

In [41]:
JuneTweet.shape

(351, 7)

<h3>Checking for duplicate elements in June tweets</h3>

In [43]:
duplicate = JuneTweet[JuneTweet.duplicated()]

In [44]:
duplicate.shape

(0, 7)

<h3>There is no duplicate elements</h3>

<h3>Storing the Merged Dataframe into a CSV file named JuneTweets-2021</h3>

In [46]:
JuneTweet.head(5)

,Username,Userhandle,Time,comments,retweets,likes,Tweet
0,Mohammed Zeeshan,@ZeeshanAITC,2021-05-30T23:31:17.000Z,NaN,1.0,4,#cancelboardexam\nDon't trigger the Covid-19 i...
1,Ujjwal Roy,@ujjwalroy06,2021-05-30T17:33:16.000Z,NaN,1.0,1,Read_My_Coverage_Story \n@ANI\n\n#IHAFoundatio...
2,Sourav_Raj_d,@iSourav_d,2021-05-30T17:21:21.000Z,NaN,NaN,1,"KMC Hon'ble Mayor \n@FirhadHakim\n sir,Inaugur..."
3,Soumyajit Majumder,@SoumyajitWrites,2021-05-30T17:00:48.000Z,1.0,6.0,48,Bengal’s COVID active cases drops below 1 lakh...
4,Saurendranath Konar,@SaurendranathK1,2021-05-30T13:13:13.000Z,1.0,NaN,NaN,"Ramdev again questions Covid-19 vaccines, says..."

In [47]:
JuneTweet.to_csv('JuneTweets-2021.csv')

<h1>Merging July Tweets(Top Section tweets and Latest Section Tweets)</h1>