In [1]:
import pandas as pd
import numpy as np

In [8]:
march=pd.read_csv("March_Keywords_Ayush.csv")
marchL=pd.read_csv("Covid_tweets(march-2021-latest).csv")

In [3]:
march.shape

(525, 37)

In [4]:
march.columns

Index(['Unnamed: 0', 'id', 'conversation_id', 'created_at', 'date', 'time',
       'timezone', 'user_id', 'username', 'name', 'place', 'tweet', 'language',
       'mentions', 'urls', 'photos', 'replies_count', 'retweets_count',
       'likes_count', 'hashtags', 'cashtags', 'link', 'retweet', 'quote_url',
       'video', 'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [6]:
march.drop(['trans_dest', 'trans_src', 'retweet_id', 'reply_to', 'retweet_date', 'translate','geo', 'source', 'user_rt_id', 'user_rt','video', 'thumbnail',], axis = 1,inplace=True)

In [7]:
march.columns

Index(['Unnamed: 0', 'id', 'conversation_id', 'created_at', 'date', 'time',
       'timezone', 'user_id', 'username', 'name', 'place', 'tweet', 'language',
       'mentions', 'urls', 'photos', 'replies_count', 'retweets_count',
       'likes_count', 'hashtags', 'cashtags', 'link', 'retweet', 'quote_url',
       'near'],
      dtype='object')

In [9]:
marchL.columns

Index(['UserName', 'Userhandle', 'Time', 'comments', 'retweets', 'likes',
       'Tweet'],
      dtype='object')

In [10]:
march.to_csv('March_Keywords_Ayush.csv')

In [11]:
march2=pd.read_csv("March_Keywords_Ayush.csv")

In [12]:
march2.shape

(525, 38)

In [13]:
march2.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'id', 'conversation_id', 'created_at',
       'date', 'time', 'timezone', 'user_id', 'username', 'name', 'place',
       'tweet', 'language', 'mentions', 'urls', 'photos', 'replies_count',
       'retweets_count', 'likes_count', 'hashtags', 'cashtags', 'link',
       'retweet', 'quote_url', 'video', 'thumbnail', 'near', 'geo', 'source',
       'user_rt_id', 'user_rt', 'retweet_id', 'reply_to', 'retweet_date',
       'translate', 'trans_src', 'trans_dest'],
      dtype='object')

In [17]:
march2.drop(['trans_dest', 'trans_src', 'retweet_id', 'reply_to', 'retweet_date', 'translate','geo', 'source', 'user_rt_id', 'user_rt','video', 'thumbnail',], axis = 1,inplace=True)

In [19]:
march2.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'id', 'conversation_id', 'created_at',
       'date', 'time', 'timezone', 'user_id', 'username', 'name', 'place',
       'tweet', 'language', 'mentions', 'urls', 'photos', 'replies_count',
       'retweets_count', 'likes_count', 'hashtags', 'cashtags', 'link',
       'retweet', 'quote_url', 'near'],
      dtype='object')

In [20]:
march2.drop(['Unnamed: 0', 'Unnamed: 0.1', 'quote_url', 'near'], axis = 1,inplace=True)

In [21]:
march2.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet'],
      dtype='object')

In [22]:
march2.to_csv("March_Ayush_fieldRemoved1.csv")

In [23]:
march2.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet'],
      dtype='object')

In [29]:
march2.drop(['id', 'conversation_id', 'date', 'time','place','mentions','urls', 'photos','hashtags', 'cashtags', 'link', 'retweet'], axis = 1,inplace=True)

KeyError: "['id' 'conversation_id' 'date' 'time' 'place' 'mentions' 'urls' 'photos'\n 'hashtags' 'cashtags' 'link' 'retweet'] not found in axis"

In [25]:
march2.columns

Index(['created_at', 'timezone', 'user_id', 'username', 'name', 'tweet',
       'language', 'replies_count', 'retweets_count', 'likes_count'],
      dtype='object')

In [26]:
marchL.shape

(81, 7)

In [27]:
march2.shape

(525, 10)

In [30]:
march2.drop(['name'], axis = 1,inplace=True)

In [31]:
march2.shape

(525, 9)

In [32]:
march2.columns

Index(['created_at', 'timezone', 'user_id', 'username', 'tweet', 'language',
       'replies_count', 'retweets_count', 'likes_count'],
      dtype='object')

In [33]:
march2.drop([ 'timezone', 'user_id'], axis = 1,inplace=True)

In [34]:
march2.columns

Index(['created_at', 'username', 'tweet', 'language', 'replies_count',
       'retweets_count', 'likes_count'],
      dtype='object')

In [35]:
march2.shape

(525, 7)

In [36]:
marchL.drop(['Userhandle'],axis=1,inplace=True)

In [37]:
marchL.shape

(81, 6)

In [40]:
p=marchL.columns
l=march2.columns
print(l)
print(p)

Index(['created_at', 'username', 'tweet', 'language', 'replies_count',
       'retweets_count', 'likes_count'],
      dtype='object')
Index(['UserName', 'Time', 'comments', 'retweets', 'likes', 'Tweet'], dtype='object')

In [43]:
marchL=marchL.rename(columns={'UserName':'username','Time':'created_at','comments':'replies_count','retweets':'retweets_count','likes':'likes_count','Tweet':'tweet'})

In [44]:
marchL.columns

Index(['username', 'created_at', 'replies_count', 'retweets_count',
       'likes_count', 'tweet'],
      dtype='object')

In [45]:
march2.columns

Index(['created_at', 'username', 'tweet', 'language', 'replies_count',
       'retweets_count', 'likes_count'],
      dtype='object')

In [48]:
marchL["language"]=None

In [50]:
marchL.head(2)

,username,created_at,replies_count,retweets_count,likes_count,tweet,language
0,Megha Kejriwal,2021-03-30T09:18:17.000Z,NaN,NaN,1.0,Airports may levy spot fines if face mask rule...,None
1,Soumyajit Majumder,2021-03-29T15:00:18.000Z,4.0,NaN,11.0,"West Bengal reports 639 new COVID-19 cases, Ko...",None

In [51]:
March_KeyL=pd.concat([marchL,march2]).drop_duplicates()

In [52]:
March_KeyL.shape

(598, 7)

In [53]:
March_KeyL.columns

Index(['username', 'created_at', 'replies_count', 'retweets_count',
       'likes_count', 'tweet', 'language'],
      dtype='object')

In [54]:
March_KeyL.to_csv("March_keyL.csv")

In [58]:
for i in March_KeyL['language']:
    index_names = March_KeyL[March_KeyL['language']!='en' ].index
    March_KeyL.drop(index_names, inplace = True)

In [59]:
March_KeyL.shape

(335, 7)

In [60]:
March_KeyL=pd.concat([marchL,March_KeyL]).drop_duplicates()

In [61]:
March_KeyL.shape

(416, 7)

In [63]:
March_KeyL.to_csv("March_keyL.csv")

In [64]:
March_KeyL.head(5)

,username,created_at,replies_count,retweets_count,likes_count,tweet,language
0,Megha Kejriwal,2021-03-30T09:18:17.000Z,NaN,NaN,1.0,Airports may levy spot fines if face mask rule...,None
1,Soumyajit Majumder,2021-03-29T15:00:18.000Z,4.0,NaN,11.0,"West Bengal reports 639 new COVID-19 cases, Ko...",None
2,Nishit Shaw,2021-03-29T05:35:57.000Z,NaN,1.0,NaN,"Recovery rate drops to 94.32%, very very worri...",None
3,Rajlkxmi Datta,2021-03-28T13:56:19.000Z,NaN,NaN,NaN,Replying to \n@republic,None
4,Call me WD or Wri,2021-03-28T07:22:24.000Z,NaN,NaN,NaN,"Doesn’t quite feel like #Holi, but just anothe...",None

In [77]:
March_KeyL['language'].replace(to_replace=[None], value=np.nan, inplace=True)

In [78]:
March_KeyL

,username,created_at,replies_count,retweets_count,likes_count,tweet,language
0,Megha Kejriwal,2021-03-30T09:18:17.000Z,NaN,NaN,1.0,Airports may levy spot fines if face mask rule...,NaN
1,Soumyajit Majumder,2021-03-29T15:00:18.000Z,4.0,NaN,11.0,"West Bengal reports 639 new COVID-19 cases, Ko...",NaN
2,Nishit Shaw,2021-03-29T05:35:57.000Z,NaN,1.0,NaN,"Recovery rate drops to 94.32%, very very worri...",NaN
3,Rajlkxmi Datta,2021-03-28T13:56:19.000Z,NaN,NaN,NaN,Replying to \n@republic,NaN
4,Call me WD or Wri,2021-03-28T07:22:24.000Z,NaN,NaN,NaN,"Doesn’t quite feel like #Holi, but just anothe...",NaN
...,...,...,...,...,...,...,...
519,rsujeet,2021-03-13 14:56:04 India Standard Time,0.0,1.0,3.0,"Shri @AUThackeray ji, There is shortage of inj...",en
520,rsujeet,2021-03-13 14:52:16 India Standard Time,0.0,0.0,0.0,"Shri @Dev_Fadnavis ji, There is shortage of in...",en
521,rsujeet,2021-03-13 14:46:24 India Standard Time,0.0,0.0,0.0,"Shri Udhav Thackeray ji @OfficeofUT , In yava...",en
522,af2311,2021-03-10 21:13:51 India Standard Time,0.0,0.0,0.0,@ZarrarKhuhro @Asad_Umar @ZaraHatKay_Dawn For ...,en
523,naynishbl,2021-03-25 11:02:47 India Standard Time,0.0,0.0,0.0,What’s with the Remdesivir. Can anyone tell me.,en

In [79]:
March_KeyL['language'] =March_KeyL['language'].fillna('en')

In [80]:
March_KeyL

,username,created_at,replies_count,retweets_count,likes_count,tweet,language
0,Megha Kejriwal,2021-03-30T09:18:17.000Z,NaN,NaN,1.0,Airports may levy spot fines if face mask rule...,en
1,Soumyajit Majumder,2021-03-29T15:00:18.000Z,4.0,NaN,11.0,"West Bengal reports 639 new COVID-19 cases, Ko...",en
2,Nishit Shaw,2021-03-29T05:35:57.000Z,NaN,1.0,NaN,"Recovery rate drops to 94.32%, very very worri...",en
3,Rajlkxmi Datta,2021-03-28T13:56:19.000Z,NaN,NaN,NaN,Replying to \n@republic,en
4,Call me WD or Wri,2021-03-28T07:22:24.000Z,NaN,NaN,NaN,"Doesn’t quite feel like #Holi, but just anothe...",en
...,...,...,...,...,...,...,...
519,rsujeet,2021-03-13 14:56:04 India Standard Time,0.0,1.0,3.0,"Shri @AUThackeray ji, There is shortage of inj...",en
520,rsujeet,2021-03-13 14:52:16 India Standard Time,0.0,0.0,0.0,"Shri @Dev_Fadnavis ji, There is shortage of in...",en
521,rsujeet,2021-03-13 14:46:24 India Standard Time,0.0,0.0,0.0,"Shri Udhav Thackeray ji @OfficeofUT , In yava...",en
522,af2311,2021-03-10 21:13:51 India Standard Time,0.0,0.0,0.0,@ZarrarKhuhro @Asad_Umar @ZaraHatKay_Dawn For ...,en
523,naynishbl,2021-03-25 11:02:47 India Standard Time,0.0,0.0,0.0,What’s with the Remdesivir. Can anyone tell me.,en

In [87]:
March_KeyL

,username,created_at,replies_count,retweets_count,likes_count,tweet,language
0,Megha Kejriwal,2021-03-30T09:18:17.000Z,NaN,NaN,1.0,Airports may levy spot fines if face mask rule...,en
1,Soumyajit Majumder,2021-03-29T15:00:18.000Z,4.0,NaN,11.0,"West Bengal reports 639 new COVID-19 cases, Ko...",en
2,Nishit Shaw,2021-03-29T05:35:57.000Z,NaN,1.0,NaN,"Recovery rate drops to 94.32%, very very worri...",en
3,Rajlkxmi Datta,2021-03-28T13:56:19.000Z,NaN,NaN,NaN,Replying to \n@republic,en
4,Call me WD or Wri,2021-03-28T07:22:24.000Z,NaN,NaN,NaN,"Doesn’t quite feel like #Holi, but just anothe...",en
...,...,...,...,...,...,...,...
519,rsujeet,2021-03-13 14:56:04 India Standard Time,0.0,1.0,3.0,"Shri @AUThackeray ji, There is shortage of inj...",en
520,rsujeet,2021-03-13 14:52:16 India Standard Time,0.0,0.0,0.0,"Shri @Dev_Fadnavis ji, There is shortage of in...",en
521,rsujeet,2021-03-13 14:46:24 India Standard Time,0.0,0.0,0.0,"Shri Udhav Thackeray ji @OfficeofUT , In yava...",en
522,af2311,2021-03-10 21:13:51 India Standard Time,0.0,0.0,0.0,@ZarrarKhuhro @Asad_Umar @ZaraHatKay_Dawn For ...,en
523,naynishbl,2021-03-25 11:02:47 India Standard Time,0.0,0.0,0.0,What’s with the Remdesivir. Can anyone tell me.,en

In [81]:
marchT=pd.read_csv('Covid_tweets(march-2021-topSection).csv')

In [82]:
marchT.columns

Index(['UserName', 'Userhandle', 'Time', 'comments', 'likes', 'retweets',
       'Tweet'],
      dtype='object')

In [85]:
marchT["language"]=np.nan

In [86]:
marchT

,UserName,Userhandle,Time,comments,likes,retweets,Tweet,language
0,Nishit Shaw,@NishitShawHere,2021-03-29T05:35:57.000Z,NaN,NaN,1.0,"Recovery rate drops to 94.32%, very very worri...",NaN
1,Harleen,@DontiaHarleen,2021-03-04T08:35:26.000Z,NaN,NaN,NaN,Covid Second dose done\n\n#Covid_19 #COVID19Va...,NaN
2,Nishit Shaw,@NishitShawHere,2021-03-27T05:35:43.000Z,NaN,1.0,NaN,"With #SachinTendulkar testing positive, here i...",NaN
3,Prashant Kumar,@scribe_prashant,2021-03-18T05:32:47.000Z,NaN,32.0,11.0,BREAKING: Cases of Covid-19 on rise in nationa...,NaN
4,shyamal das,@shyamal81465999,2021-03-22T08:45:59.000Z,NaN,NaN,NaN,Protection covid 19,NaN
...,...,...,...,...,...,...,...,...
62,Mridul Sen,@MridulSen3,2021-03-03T15:07:35.000Z,NaN,NaN,NaN,@CMOMaharashtra\n If you guys cannot control c...,NaN
63,Yoriichi Tsugikuni,@SniperdmYT,2021-03-20T05:16:18.000Z,NaN,NaN,NaN,@MamataOfficial\n \n@BanglarGorboMB\n \n@AITCo...,NaN
64,Amit Mukherjee,@AmitMukherji15,2021-03-09T16:19:39.000Z,NaN,NaN,NaN,Replying to \n@RailwaySeva,NaN
65,Purushottam Prashar,@purukol,2021-03-14T03:07:58.000Z,1.0,1.0,1.0,@narendramodi\n \n@drharshvardhan\n Dear sir r...,NaN
66,Purushottam Prashar,@purukol,2021-03-14T13:59:24.000Z,NaN,1.0,1.0,@narendramodi\n \n@drharshvardhan\n \n@aajtak\...,NaN

In [88]:
marchT.drop(['Userhandle'],axis=1,inplace=True)

In [89]:
marchT.shape

(67, 7)

In [91]:
March_KeyL.shape

(416, 7)

In [92]:
marchT=marchT.rename(columns={'UserName':'username','Time':'created_at','comments':'replies_count','retweets':'retweets_count','likes':'likes_count','Tweet':'tweet'})

In [93]:
March_KeyLT=pd.concat([marchT,March_KeyL]).drop_duplicates()

In [94]:
March_KeyLT.shape

(483, 7)

In [95]:
March_KeyLT.columns

Index(['username', 'created_at', 'replies_count', 'likes_count',
       'retweets_count', 'tweet', 'language'],
      dtype='object')

In [96]:
March_KeyLT.head(5)

,username,created_at,replies_count,likes_count,retweets_count,tweet,language
0,Nishit Shaw,2021-03-29T05:35:57.000Z,NaN,NaN,1.0,"Recovery rate drops to 94.32%, very very worri...",NaN
1,Harleen,2021-03-04T08:35:26.000Z,NaN,NaN,NaN,Covid Second dose done\n\n#Covid_19 #COVID19Va...,NaN
2,Nishit Shaw,2021-03-27T05:35:43.000Z,NaN,1.0,NaN,"With #SachinTendulkar testing positive, here i...",NaN
3,Prashant Kumar,2021-03-18T05:32:47.000Z,NaN,32.0,11.0,BREAKING: Cases of Covid-19 on rise in nationa...,NaN
4,shyamal das,2021-03-22T08:45:59.000Z,NaN,NaN,NaN,Protection covid 19,NaN

In [97]:
March_KeyLT['language'] =March_KeyLT['language'].fillna('en')

In [98]:
March_KeyLT.head(5)

,username,created_at,replies_count,likes_count,retweets_count,tweet,language
0,Nishit Shaw,2021-03-29T05:35:57.000Z,NaN,NaN,1.0,"Recovery rate drops to 94.32%, very very worri...",en
1,Harleen,2021-03-04T08:35:26.000Z,NaN,NaN,NaN,Covid Second dose done\n\n#Covid_19 #COVID19Va...,en
2,Nishit Shaw,2021-03-27T05:35:43.000Z,NaN,1.0,NaN,"With #SachinTendulkar testing positive, here i...",en
3,Prashant Kumar,2021-03-18T05:32:47.000Z,NaN,32.0,11.0,BREAKING: Cases of Covid-19 on rise in nationa...,en
4,shyamal das,2021-03-22T08:45:59.000Z,NaN,NaN,NaN,Protection covid 19,en

In [99]:
March_KeyLT[['replies_count','likes_count','retweets_count',]] =March_KeyLT[['replies_count','likes_count','retweets_count',]].fillna(0)

In [101]:
March_KeyLT

,username,created_at,replies_count,likes_count,retweets_count,tweet,language
0,Nishit Shaw,2021-03-29T05:35:57.000Z,0.0,0.0,1.0,"Recovery rate drops to 94.32%, very very worri...",en
1,Harleen,2021-03-04T08:35:26.000Z,0.0,0.0,0.0,Covid Second dose done\n\n#Covid_19 #COVID19Va...,en
2,Nishit Shaw,2021-03-27T05:35:43.000Z,0.0,1.0,0.0,"With #SachinTendulkar testing positive, here i...",en
3,Prashant Kumar,2021-03-18T05:32:47.000Z,0.0,32.0,11.0,BREAKING: Cases of Covid-19 on rise in nationa...,en
4,shyamal das,2021-03-22T08:45:59.000Z,0.0,0.0,0.0,Protection covid 19,en
...,...,...,...,...,...,...,...
519,rsujeet,2021-03-13 14:56:04 India Standard Time,0.0,3.0,1.0,"Shri @AUThackeray ji, There is shortage of inj...",en
520,rsujeet,2021-03-13 14:52:16 India Standard Time,0.0,0.0,0.0,"Shri @Dev_Fadnavis ji, There is shortage of in...",en
521,rsujeet,2021-03-13 14:46:24 India Standard Time,0.0,0.0,0.0,"Shri Udhav Thackeray ji @OfficeofUT , In yava...",en
522,af2311,2021-03-10 21:13:51 India Standard Time,0.0,0.0,0.0,@ZarrarKhuhro @Asad_Umar @ZaraHatKay_Dawn For ...,en
523,naynishbl,2021-03-25 11:02:47 India Standard Time,0.0,0.0,0.0,What’s with the Remdesivir. Can anyone tell me.,en

In [103]:
March_KeyLT.reset_index(drop=True, inplace=True)

In [104]:
March_KeyLT.to_csv("MarchTweetAyushFinal.csv")