## March Tweets :-<br>
## Removing Duplicates and merging them

In [2]:
import numpy as np
import pandas as pd

In [4]:
march_covid=pd.read_csv('marchT-covid.csv')

In [7]:
march_covid.head(2)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1.380000e+18,1.380000e+18,2021-03-30 05:14:05 India Standard Time,30-03-21,05:14:05,530,8.370000e+17,sipgrab,SipGrab,"{'type': 'Point', 'coordinates': [19.00117717,...",...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1.380000e+18,1.380000e+18,2021-03-30 05:01:42 India Standard Time,30-03-21,05:01:42,530,1.594367e+08,pontianakterek,PONTIANAKTEREK,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

## Checking for Duplicates in marchT-covid

In [12]:
duplicates=march_covid[march_covid.duplicated()]
duplicates.shape

(0, 36)

### as rows is zero in (0,36) so it doesnot have any duplicated element

In [11]:
march_remdesivir=pd.read_csv('marchT-remdesivir.csv')

## Checking for Duplicates in marchT-remdesivir

In [13]:
duplicates=march_remdesivir[march_remdesivir.duplicated()]
duplicates.shape

(5, 36)

### as rows is five in (5,36) so it  has 5 duplicated element,now we have to delete them from the dataframe

In [14]:
march_remdesivir.drop_duplicates(keep ="first", inplace = True)

In [15]:
duplicates=march_remdesivir[march_remdesivir.duplicated()]
duplicates.shape

(0, 36)

### as rows is zero in (0,36) so it doesnot have any duplicated element

In [16]:
march_Covid_19=pd.read_csv('marchT-Covid_19.csv')

## Checking for Duplicates in marchT-Covid_19

In [17]:
duplicates=march_Covid_19[march_Covid_19.duplicated()]
duplicates.shape

(0, 36)

### as rows is zero in (0,36) so it doesnot have any duplicated element

## Now we have to merge all three of them without dupliactes

In [18]:
March_Temp =pd.concat([march_Covid_19, march_covid]).drop_duplicates()

In [20]:
March_Temp.shape

(516, 36)

In [21]:
duplicates=March_Temp[March_Temp.duplicated()]
duplicates.shape

(0, 36)

In [22]:
March_Keyword_Ayush =pd.concat([March_Temp, march_remdesivir]).drop_duplicates()

In [23]:
duplicates=March_Keyword_Ayush[March_Keyword_Ayush.duplicated()]
duplicates.shape

(0, 36)

In [24]:
March_Keyword_Ayush.shape

(525, 36)

## Now we have to Store the new Dataframe into a new CSV

In [25]:
March_Keyword_Ayush.to_csv('March_Keywords_Ayush.csv')

# ------------------------------END-----------------------------