In [2]:
import pandas as pd
import numpy as np

In [3]:
april_ayush=pd.read_csv('AprilTweetAyushFinal.csv')
april_gangotri=pd.read_csv('AprilTweetGangotriFinal.csv')
april_mahabub=pd.read_csv('AprilTweetMahabubFinal.csv')

In [4]:
april_gangotri.drop(['trans_dest', 'trans_src', 'retweet_id', 'reply_to', 'retweet_date', 'translate', 'geo', 'source', 'user_rt_id', 'user_rt', 'video', 'thumbnail', 'quote_url', 'near',
                 'id', 'conversation_id', 'date', 'time', 'place', 'mentions', 'urls', 'photos', 'hashtags', 'cashtags', 'link', 'retweet', 'timezone', 'user_id', 'name'], axis=1, inplace=True)

In [5]:
for i in april_gangotri['language']:
    index_names =april_gangotri[april_gangotri['language']!='en' ].index
april_gangotri.drop(index_names, inplace = True)

In [6]:
april_gangotri.shape

(445, 8)

In [7]:
a=april_ayush.shape
g=april_gangotri.shape
m=april_mahabub.shape
print(a,g,m)

(651, 8) (445, 8) (743, 8)

In [8]:
april_Temp = pd.concat([april_gangotri,april_ayush]).drop_duplicates()
AprilFinal = pd.concat([april_Temp,april_mahabub]).drop_duplicates()

In [9]:
AprilFinal.shape

(1839, 8)

In [10]:
AprilFinal.drop(['Unnamed: 0'],axis=1, inplace=True)

In [11]:
AprilFinal.shape

(1839, 7)

In [12]:
AprilFinal.head(10)

,created_at,username,tweet,language,replies_count,retweets_count,likes_count
0,2021-04-03 01:10:04 India Standard Time,naeemq,Be careful. Check covid situation in Pakistan ...,en,0.0,0.0,1.0
1,2021-04-02 23:42:01 India Standard Time,dhawan_group,@KankichiRyotsu2 @MurliMenon6 @minaldoshi CCP ...,en,1.0,0.0,0.0
2,2021-04-02 23:18:00 India Standard Time,iattishx,UK variant is more killing one here in third w...,en,0.0,0.0,0.0
5,2021-04-02 22:58:12 India Standard Time,potholewarriors,#PollTime #LockDown2 #coronavirus #pandemic #...,en,3.0,5.0,2.0
7,2021-04-02 22:55:18 India Standard Time,shafique_08,"Today, the way CM @OfficeofUT ji has addressed...",en,0.0,1.0,1.0
10,2021-04-02 22:25:47 India Standard Time,jehlamtimes,"JK reports 517 new positive cases, 126720 reco...",en,0.0,1.0,0.0
11,2021-04-02 22:22:35 India Standard Time,bardoliguide,Today's Corona News Statistics of Surat and Ba...,en,0.0,0.0,0.0
13,2021-04-02 22:11:13 India Standard Time,dhruvprakashvi1,That's why we haven't find control on corona v...,en,0.0,0.0,0.0
16,2021-04-02 22:03:47 India Standard Time,suraj_suresh16,Karnataka announces new guidelines: - Gyms cl...,en,0.0,0.0,0.0
18,2021-04-02 21:33:18 India Standard Time,kirtidaevents,Let's fight #COVID19 Be careful. Wear a Mask...,en,0.0,0.0,0.0

In [13]:
AprilFinal.reset_index(inplace=True)

In [14]:
AprilFinal.head(10)

,index,created_at,username,tweet,language,replies_count,retweets_count,likes_count
0,0,2021-04-03 01:10:04 India Standard Time,naeemq,Be careful. Check covid situation in Pakistan ...,en,0.0,0.0,1.0
1,1,2021-04-02 23:42:01 India Standard Time,dhawan_group,@KankichiRyotsu2 @MurliMenon6 @minaldoshi CCP ...,en,1.0,0.0,0.0
2,2,2021-04-02 23:18:00 India Standard Time,iattishx,UK variant is more killing one here in third w...,en,0.0,0.0,0.0
3,5,2021-04-02 22:58:12 India Standard Time,potholewarriors,#PollTime #LockDown2 #coronavirus #pandemic #...,en,3.0,5.0,2.0
4,7,2021-04-02 22:55:18 India Standard Time,shafique_08,"Today, the way CM @OfficeofUT ji has addressed...",en,0.0,1.0,1.0
5,10,2021-04-02 22:25:47 India Standard Time,jehlamtimes,"JK reports 517 new positive cases, 126720 reco...",en,0.0,1.0,0.0
6,11,2021-04-02 22:22:35 India Standard Time,bardoliguide,Today's Corona News Statistics of Surat and Ba...,en,0.0,0.0,0.0
7,13,2021-04-02 22:11:13 India Standard Time,dhruvprakashvi1,That's why we haven't find control on corona v...,en,0.0,0.0,0.0
8,16,2021-04-02 22:03:47 India Standard Time,suraj_suresh16,Karnataka announces new guidelines: - Gyms cl...,en,0.0,0.0,0.0
9,18,2021-04-02 21:33:18 India Standard Time,kirtidaevents,Let's fight #COVID19 Be careful. Wear a Mask...,en,0.0,0.0,0.0

In [15]:
AprilFinal.drop(['index'],axis=1, inplace=True)

In [16]:
AprilFinal.shape

(1839, 7)

In [ ]:
AprilFinal.to_csv('AprilFinal.csv')