In [1]:
import pandas as pd
import numpy as np
import math
from textblob import TextBlob as tb
import re
from nltk.corpus import stopwords

In [2]:
import emoji
import advertools as adv
import neattext.functions as nfx

In [3]:
mayTweet=pd.read_csv('mayTweet_(with Emojis and other language within eng sentence).csv')

In [4]:
mayTweet.head()

,Unnamed: 0,tweet,language,hastags,attherate,urls,tokenized_Tweet,filteredToken
0,0,"The corona virus has a possible 39,000 RNA mut...",en,"['#COVIDisAirborne', '#Covid_19']",[],[],"['The', 'corona', 'virus', 'has', 'a', 'possib...","['world', 'corona', 'far', 'Practice', 'RNA', ..."
1,1,Second wave of coronavirus infection in India ...,en,[],[],['https://t.co/xuMMbohior'],"['Second', 'wave', 'of', 'coronavirus', 'infec...","['mutant', 'new', 'Second', 'wave', 'double', ..."
2,2,BBC News - India coronavirus: New record death...,en,['#coronavirus'],[],['https://t.co/jYpHJ58kJC'],"['BBC', 'News', 'India', 'coronavirus', 'New',...","['coronavirus', 'India', 'https', 'deaths', 'e..."
3,3,wear a mask and sanitize your hands and mainta...,en,"['#COVIDSecondWaveInIndia', '#COVIDEmergency',...",[],[],"['wear', 'a', 'mask', 'and', 'sanitize', 'your...","['COVIDEmergency', 'social', 'distancing', 'we..."
4,4,BBC News - India coronavirus: New record death...,en,[],[],['https://t.co/HpTGBrGE3K'],"['BBC', 'News', 'India', 'coronavirus', 'New',...","['coronavirus', 'India', 'https', 'deaths', 'N..."

### -----Removing hastags from tweet-------

In [5]:
mayTweet['clean_tweet'] =mayTweet['tweet'].apply(nfx.remove_hashtags)

### -----Removing userhandle from tweet -----

In [6]:
mayTweet['clean_tweet'] = mayTweet['clean_tweet'].apply(lambda x: nfx.remove_userhandles(x))

### ----Removing multiple white spaces-----

In [7]:
mayTweet['clean_tweet'] =mayTweet['clean_tweet'].apply(nfx.remove_multiple_spaces)

### ----Removing Urls-----

In [8]:
mayTweet['clean_tweet'] = mayTweet['clean_tweet'].apply(nfx.remove_urls)

In [9]:
mayTweet[['tweet','clean_tweet']]

,tweet,clean_tweet
0,"The corona virus has a possible 39,000 RNA mut...","The corona virus has a possible 39,000 RNA mut..."
1,Second wave of coronavirus infection in India ...,Second wave of coronavirus infection in India ...
2,BBC News - India coronavirus: New record death...,BBC News - India coronavirus: New record death...
3,wear a mask and sanitize your hands and mainta...,wear a mask and sanitize your hands and mainta...
4,BBC News - India coronavirus: New record death...,BBC News - India coronavirus: New record death...
...,...,...
1831,"Great gesture \n@Lshukla6\n Bhaiya, \n@SonuSoo...","Great gesture Bhaiya, more people's come like ..."
1832,@srijitspeaketh\n \n@SandyMukherg\n \n@AnanyaR...,Check Vacant Beds Availability Online in Hosp...
1833,We are fighting another war against COVID-19 b...,We are fighting another war against COVID-19 b...
1834,Replying to \n@DemonGod21\n \n@AnshumanBanka8\...,Replying to and 3 others
1835,Replying to \n@SandipGhose\n \n@nitin_gadkari\...,Replying to and

### ----Removing Punctuations----

In [10]:
mayTweet['clean_tweet'] = mayTweet['clean_tweet'].apply(nfx.remove_puncts)

In [11]:
mayTweet[['tweet','clean_tweet']]

,tweet,clean_tweet
0,"The corona virus has a possible 39,000 RNA mut...",The corona virus has a possible 39000 RNA muta...
1,Second wave of coronavirus infection in India ...,Second wave of coronavirus infection in India ...
2,BBC News - India coronavirus: New record death...,BBC News India coronavirus: New record deaths...
3,wear a mask and sanitize your hands and mainta...,wear a mask and sanitize your hands and mainta...
4,BBC News - India coronavirus: New record death...,BBC News India coronavirus: New record deaths...
...,...,...
1831,"Great gesture \n@Lshukla6\n Bhaiya, \n@SonuSoo...",Great gesture Bhaiya more peoples come like yo...
1832,@srijitspeaketh\n \n@SandyMukherg\n \n@AnanyaR...,Check Vacant Beds Availability Online in Hosp...
1833,We are fighting another war against COVID-19 b...,We are fighting another war against COVID19 bu...
1834,Replying to \n@DemonGod21\n \n@AnshumanBanka8\...,Replying to and 3 others
1835,Replying to \n@SandipGhose\n \n@nitin_gadkari\...,Replying to and

In [12]:
mayTweet.to_csv('MayTweet_(with Emojis and other language within eng sentence).csv')

### -----Extract Emojis ----- ###

In [13]:
mayTweet['emojis']=np.nan

In [14]:
def extract_emoji(text):
    emoji_dict=adv.extract_emoji(text)
    new_list=emoji_dict['emoji'][0]
    return new_list

In [15]:
mayTweet['clean_tweet'][75]

'Life just fine until ðŸ–¤ðŸ–¤ðŸ–¤ðŸ–¤ðŸ–¤ '

In [16]:
text=[mayTweet['clean_tweet'][75] ]
text

['Life just fine until ðŸ–¤ðŸ–¤ðŸ–¤ðŸ–¤ðŸ–¤ ']

In [17]:
mayTweet['emojis'][67]=extract_emoji(text)

C:\Users\gango\AppData\Local\Temp/ipykernel_2360/3033103300.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mayTweet['emojis'][67]=extract_emoji(text)
C:\Users\gango\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [18]:
mayTweet['emojis'][67]

['ðŸ–¤', 'ðŸ–¤', 'ðŸ–¤', 'ðŸ–¤', 'ðŸ–¤']

In [19]:
for i in range(0,1836):
    text=[mayTweet['clean_tweet'][i] ]
    mayTweet['emojis'][i]=extract_emoji(text)

In [21]:
mayTweet.to_csv('extractedEmoji.csv')

### -----Remove Emojis-----

In [22]:
def remove_emojis(text,i=0):
    new_text= re.sub(emoji.get_emoji_regexp(),r'',text)
    mayTweet['clean_tweet'][i]=new_text

In [23]:
mayTweet['clean_tweet'][7]

'Childrens are gift of god help them for their education not for begging '

In [24]:
remove_emojis(mayTweet['clean_tweet'][7],7)

C:\Users\gango\AppData\Local\Temp/ipykernel_2360/3650416790.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mayTweet['clean_tweet'][i]=new_text

In [25]:
mayTweet['clean_tweet'][7]

'Childrens are gift of god help them for their education not for begging '

In [26]:
for i in range(0,1836):
    text=mayTweet['clean_tweet'][i]
    remove_emojis(text,i)

C:\Users\gango\AppData\Local\Temp/ipykernel_2360/3650416790.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mayTweet['clean_tweet'][i]=new_text

In [27]:
mayTweet.to_csv('mayTweet.csv')

In [28]:
mayTweet.columns

Index(['Unnamed: 0', 'tweet', 'language', 'hastags', 'attherate', 'urls',
       'tokenized_Tweet', 'filteredToken', 'clean_tweet', 'emojis'],
      dtype='object')

In [29]:
mayTweetClean=mayTweet[['tweet','clean_tweet', 'hastags','attherate','urls','emojis']]

In [30]:
mayTweetClean.head(10)

,tweet,clean_tweet,hastags,attherate,urls,emojis
0,"The corona virus has a possible 39,000 RNA mut...",The corona virus has a possible 39000 RNA muta...,"['#COVIDisAirborne', '#Covid_19']",[],[],[]
1,Second wave of coronavirus infection in India ...,Second wave of coronavirus infection in India ...,[],[],['https://t.co/xuMMbohior'],[]
2,BBC News - India coronavirus: New record death...,BBC News India coronavirus: New record deaths...,['#coronavirus'],[],['https://t.co/jYpHJ58kJC'],[]
3,wear a mask and sanitize your hands and mainta...,wear a mask and sanitize your hands and mainta...,"['#COVIDSecondWaveInIndia', '#COVIDEmergency',...",[],[],[]
4,BBC News - India coronavirus: New record death...,BBC News India coronavirus: New record deaths...,[],[],['https://t.co/HpTGBrGE3K'],[]
5,"Are you okay? No, i just want a Covid free wor...",Are you okay No i just want a Covid free world...,"['#Covid_19', '#coronavirus']",[],[],[]
6,Pray for India ...... #CovidHelp #Coronavirus...,Pray for India,"['#CovidHelp', '#CoronavirusIndia', '#coronavi...",[],['https://t.co/ibk6JUKw9R'],[]
7,Childrens are gift of god help them for their ...,Childrens are gift of god help them for their ...,"['#help', '#PrayForIndia', '#COVIDSecondWaveIn...",[],['https://t.co/DPQb8UDs3B'],[]
8,@palhali Heard eating Mangoes in Summer can re...,Heard eating Mangoes in Summer can reduce ris...,[],['@palhali'],[],[ðŸ˜€]
9,Help them they needs you very badly in this si...,Help them they needs you very badly in this si...,"['#help', '#CovidSOS', '#PrayForIndia', '#COVI...",[],['https://t.co/xzMy1V0sVM'],[]

In [31]:
mayTweetClean.to_csv('PREPROCESSED_MAY.csv')