In [1]:
import pandas as pd
import numpy as np
import math
from textblob import TextBlob as tb
import re
import nltk

In [2]:
may=pd.read_csv('MayRemove.csv')

In [3]:
may.columns

Index(['Unnamed: 0', 'created_at', 'username', 'tweet', 'language',
       'replies_count', 'retweets_count', 'likes_count'],
      dtype='object')

In [4]:
may.drop(['Unnamed: 0'],axis=1,inplace=True)

In [5]:
may.columns

Index(['created_at', 'username', 'tweet', 'language', 'replies_count',
       'retweets_count', 'likes_count'],
      dtype='object')

In [6]:
may['language'].unique()

array(['en'], dtype=object)

In [7]:
for i in may['language']:
    index_names = may[may['language']!='en' ].index
    may.drop(index_names, inplace = True)

In [8]:
may.shape

(2159, 7)

In [9]:
duplicates = may[may.duplicated()]
duplicates.shape

(323, 7)

In [10]:
may=may.drop_duplicates(keep='first')
may.shape

(1836, 7)

In [11]:
may

,created_at,username,tweet,language,replies_count,retweets_count,likes_count
0,2021-05-03 03:20:28 India Standard Time,alidurrani88,"The corona virus has a possible 39,000 RNA mut...",en,0.0,0.0,2
1,2021-05-03 03:07:03 India Standard Time,drkaushiksuresh,Second wave of coronavirus infection in India ...,en,0.0,0.0,0
2,2021-05-03 02:55:32 India Standard Time,sohailmalik462,BBC News - India coronavirus: New record death...,en,0.0,0.0,0
3,2021-05-03 02:29:32 India Standard Time,bjp_bihar_,wear a mask and sanitize your hands and mainta...,en,0.0,0.0,1
4,2021-05-03 02:07:33 India Standard Time,sasmitchandan,BBC News - India coronavirus: New record death...,en,0.0,0.0,0
...,...,...,...,...,...,...,...
2149,2021-05-06T11:53:32.000Z,NaN,"Great gesture \n@Lshukla6\n Bhaiya, \n@SonuSoo...",en,NaN,NaN,1
2150,2021-05-01T18:00:50.000Z,NaN,@srijitspeaketh\n \n@SandyMukherg\n \n@AnanyaR...,en,1.0,6.0,5
2151,2021-05-01T05:37:53.000Z,NaN,We are fighting another war against COVID-19 b...,en,1.0,NaN,1
2156,2021-05-02T19:27:49.000Z,NaN,Replying to \n@DemonGod21\n \n@AnshumanBanka8\...,en,NaN,NaN,NaN
2158,2021-05-04T20:55:56.000Z,NaN,Replying to \n@SandipGhose\n \n@nitin_gadkari\...,en,NaN,NaN,NaN

In [12]:
may.columns

Index(['created_at', 'username', 'tweet', 'language', 'replies_count',
       'retweets_count', 'likes_count'],
      dtype='object')

In [13]:
may[['replies_count','retweets_count', 'likes_count']]=may[['replies_count','retweets_count', 'likes_count']].fillna(0)

In [14]:
may

,created_at,username,tweet,language,replies_count,retweets_count,likes_count
0,2021-05-03 03:20:28 India Standard Time,alidurrani88,"The corona virus has a possible 39,000 RNA mut...",en,0.0,0.0,2
1,2021-05-03 03:07:03 India Standard Time,drkaushiksuresh,Second wave of coronavirus infection in India ...,en,0.0,0.0,0
2,2021-05-03 02:55:32 India Standard Time,sohailmalik462,BBC News - India coronavirus: New record death...,en,0.0,0.0,0
3,2021-05-03 02:29:32 India Standard Time,bjp_bihar_,wear a mask and sanitize your hands and mainta...,en,0.0,0.0,1
4,2021-05-03 02:07:33 India Standard Time,sasmitchandan,BBC News - India coronavirus: New record death...,en,0.0,0.0,0
...,...,...,...,...,...,...,...
2149,2021-05-06T11:53:32.000Z,NaN,"Great gesture \n@Lshukla6\n Bhaiya, \n@SonuSoo...",en,0.0,0.0,1
2150,2021-05-01T18:00:50.000Z,NaN,@srijitspeaketh\n \n@SandyMukherg\n \n@AnanyaR...,en,1.0,6.0,5
2151,2021-05-01T05:37:53.000Z,NaN,We are fighting another war against COVID-19 b...,en,1.0,0.0,1
2156,2021-05-02T19:27:49.000Z,NaN,Replying to \n@DemonGod21\n \n@AnshumanBanka8\...,en,0.0,0.0,0
2158,2021-05-04T20:55:56.000Z,NaN,Replying to \n@SandipGhose\n \n@nitin_gadkari\...,en,0.0,0.0,0

In [15]:
mayTweet=may[['tweet','language']]

In [16]:
mayTweet

                                                  tweet language
0     The corona virus has a possible 39,000 RNA mut...       en
1     Second wave of coronavirus infection in India ...       en
2     BBC News - India coronavirus: New record death...       en
3     wear a mask and sanitize your hands and mainta...       en
4     BBC News - India coronavirus: New record death...       en
...                                                 ...      ...
2149  Great gesture \n@Lshukla6\n Bhaiya, \n@SonuSoo...       en
2150  @srijitspeaketh\n \n@SandyMukherg\n \n@AnanyaR...       en
2151  We are fighting another war against COVID-19 b...       en
2156  Replying to \n@DemonGod21\n \n@AnshumanBanka8\...       en
2158  Replying to \n@SandipGhose\n \n@nitin_gadkari\...       en

[1836 rows x 2 columns]

In [17]:
mayTweet=mayTweet.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')

In [18]:
mayTweet

      index                                              tweet language
0         0  The corona virus has a possible 39,000 RNA mut...       en
1         1  Second wave of coronavirus infection in India ...       en
2         2  BBC News - India coronavirus: New record death...       en
3         3  wear a mask and sanitize your hands and mainta...       en
4         4  BBC News - India coronavirus: New record death...       en
...     ...                                                ...      ...
1831   2149  Great gesture \n@Lshukla6\n Bhaiya, \n@SonuSoo...       en
1832   2150  @srijitspeaketh\n \n@SandyMukherg\n \n@AnanyaR...       en
1833   2151  We are fighting another war against COVID-19 b...       en
1834   2156  Replying to \n@DemonGod21\n \n@AnshumanBanka8\...       en
1835   2158  Replying to \n@SandipGhose\n \n@nitin_gadkari\...       en

[1836 rows x 3 columns]

In [19]:
mayTweet.drop(['index'],axis=1,inplace=True)

In [20]:
mayTweet

                                                  tweet language
0     The corona virus has a possible 39,000 RNA mut...       en
1     Second wave of coronavirus infection in India ...       en
2     BBC News - India coronavirus: New record death...       en
3     wear a mask and sanitize your hands and mainta...       en
4     BBC News - India coronavirus: New record death...       en
...                                                 ...      ...
1831  Great gesture \n@Lshukla6\n Bhaiya, \n@SonuSoo...       en
1832  @srijitspeaketh\n \n@SandyMukherg\n \n@AnanyaR...       en
1833  We are fighting another war against COVID-19 b...       en
1834  Replying to \n@DemonGod21\n \n@AnshumanBanka8\...       en
1835  Replying to \n@SandipGhose\n \n@nitin_gadkari\...       en

[1836 rows x 2 columns]

In [21]:
mayTweet.to_csv('mayTweet.csv')

### --------REMOVING HASTAGS--------- ###

In [22]:
mayTweet['hastags']=np.nan

In [23]:
def extract_hastags(text,i=0):
    hashtag_list = []
    for word in text.split():
        if word[0] == '#':
            hashtag_list.append(word[0:])
    mayTweet['hastags'][i]=hashtag_list
    i+=1

In [24]:
index=mayTweet.index
print(index)

RangeIndex(start=0, stop=1836, step=1)

In [27]:
extract_hastags(mayTweet['tweet'][8],8)

In [28]:
mayTweet['hastags'][8]

[]

In [29]:
for i in range(0,1836):
    text=mayTweet['tweet'][i]
    extract_hastags(text,i)

In [30]:
mayTweet['hastags']

0                           [#COVIDisAirborne, #Covid_19]
1                                                      []
2                                          [#coronavirus]
3       [#COVIDSecondWaveInIndia, #COVIDEmergency, #co...
4                                                      []
                              ...
1831                                                   []
1832                              [#KolkataFightsCovid19]
1833                [#harshreality, #GiveTheVaccinesModi]
1834                                                   []
1835                                                   []
Name: hastags, Length: 1836, dtype: object

### ---- Removing @texts ----

In [31]:
mayTweet['attherate']=np.nan

In [32]:
def extract_attherate(text,i=0):
    attherate_list = []
    for word in text.split():
        if word[0] == '@':
            attherate_list.append(word[0:])
    mayTweet['attherate'][i]=attherate_list
    i+=1

In [33]:
mayTweet['tweet'][0]

'The corona virus has a possible 39,000 RNA mutations. The world has only seen 153 so far. Practice social distancing and keep your face masks on. #COVIDisAirborne #Covid_19'

In [41]:
for i in range(0,1836):
    #text=mayTweet['tweet'][i]
    extract_attherate(mayTweet['tweet'][i],i)

In [42]:
mayTweet['attherate']

0                                                      []
1                                                      []
2                                                      []
3                                                      []
4                                                      []
                              ...
1831    [@Lshukla6, @SonuSood, @derekobrienmp, @Mamata...
1832        [@srijitspeaketh, @SandyMukherg, @AnanyaRian]
1833                                      [@narendramodi]
1834                       [@DemonGod21, @AnshumanBanka8]
1835        [@SandipGhose, @nitin_gadkari, @rajnathsingh]
Name: attherate, Length: 1836, dtype: object

In [43]:
mayTweet.to_csv('mayTweet.csv')

In [45]:
mayTweet['urls']=np.nan

In [46]:
def extract_urls(text,i=0):
    attherate_list = []
    for word in text.split():
        if word[0:5] == 'https':
            attherate_list.append(word[0:])
    mayTweet['urls'][i]=attherate_list
    i+=1

In [47]:
mayTweet['tweet'][1]

'Second wave of coronavirus infection in India by new variant of double mutant B.1.617  https://t.co/xuMMbohior'

In [48]:
extract_urls(mayTweet['tweet'][1],1)

C:\Users\gango\AppData\Local\Temp/ipykernel_20688/343483884.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mayTweet['urls'][i]=attherate_list
C:\Users\gango\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [49]:
mayTweet['urls'][1]

['https://t.co/xuMMbohior']

In [50]:
for i in range(0,1836):
    text=mayTweet['tweet'][i]
    extract_urls(text,i)

In [51]:
mayTweet['urls']

0                                                  []
1                           [https://t.co/xuMMbohior]
2                           [https://t.co/jYpHJ58kJC]
3                                                  []
4                           [https://t.co/HpTGBrGE3K]
                            ...
1831                                               []
1832    [https://coviddelhi.com, https://covidwb.com]
1833                                               []
1834                                               []
1835                                               []
Name: urls, Length: 1836, dtype: object

In [52]:
mayTweet.to_csv('mayTweet.csv')

In [53]:
mayTweet

,tweet,language,hastags,attherate,urls
0,"The corona virus has a possible 39,000 RNA mut...",en,"[#COVIDisAirborne, #Covid_19]",[],[]
1,Second wave of coronavirus infection in India ...,en,[],[],[https://t.co/xuMMbohior]
2,BBC News - India coronavirus: New record death...,en,[#coronavirus],[],[https://t.co/jYpHJ58kJC]
3,wear a mask and sanitize your hands and mainta...,en,"[#COVIDSecondWaveInIndia, #COVIDEmergency, #co...",[],[]
4,BBC News - India coronavirus: New record death...,en,[],[],[https://t.co/HpTGBrGE3K]
...,...,...,...,...,...
1831,"Great gesture \n@Lshukla6\n Bhaiya, \n@SonuSoo...",en,[],"[@Lshukla6, @SonuSood, @derekobrienmp, @Mamata...",[]
1832,@srijitspeaketh\n \n@SandyMukherg\n \n@AnanyaR...,en,[#KolkataFightsCovid19],"[@srijitspeaketh, @SandyMukherg, @AnanyaRian]","[https://coviddelhi.com, https://covidwb.com]"
1833,We are fighting another war against COVID-19 b...,en,"[#harshreality, #GiveTheVaccinesModi]",[@narendramodi],[]
1834,Replying to \n@DemonGod21\n \n@AnshumanBanka8\...,en,[],"[@DemonGod21, @AnshumanBanka8]",[]
1835,Replying to \n@SandipGhose\n \n@nitin_gadkari\...,en,[],"[@SandipGhose, @nitin_gadkari, @rajnathsingh]",[]

In [54]:
mayTweet['tokenized_Tweet']=np.nan

In [55]:
def tokenizing(text,i=0):
    text=tb(text)
    token_text=text.words
    token_text
    mayTweet['tokenized_Tweet'][i]=token_text

In [56]:
tokenizing(mayTweet['tweet'][0],0)

C:\Users\gango\AppData\Local\Temp/ipykernel_20688/396458016.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mayTweet['tokenized_Tweet'][i]=token_text
C:\Users\gango\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [57]:
mayTweet['tokenized_Tweet'][0]

WordList(['The', 'corona', 'virus', 'has', 'a', 'possible', '39,000', 'RNA', 'mutations', 'The', 'world', 'has', 'only', 'seen', '153', 'so', 'far', 'Practice', 'social', 'distancing', 'and', 'keep', 'your', 'face', 'masks', 'on', 'COVIDisAirborne', 'Covid_19'])

In [58]:
mayTweet['tweet'][0]

'The corona virus has a possible 39,000 RNA mutations. The world has only seen 153 so far. Practice social distancing and keep your face masks on. #COVIDisAirborne #Covid_19'

In [59]:
for i in range(0,1836):
    #text=marchTweet['tweet'][i]
    tokenizing(mayTweet['tweet'][i],i)

In [60]:
mayTweet['tokenized_Tweet']

0       [The, corona, virus, has, a, possible, 39,000,...
1       [Second, wave, of, coronavirus, infection, in,...
2       [BBC, News, India, coronavirus, New, record, d...
3       [wear, a, mask, and, sanitize, your, hands, an...
4       [BBC, News, India, coronavirus, New, record, d...
                              ...
1831    [Great, gesture, Lshukla6, Bhaiya, SonuSood, d...
1832    [srijitspeaketh, SandyMukherg, AnanyaRian, Che...
1833    [We, are, fighting, another, war, against, COV...
1834    [Replying, to, DemonGod21, AnshumanBanka8, and...
1835    [Replying, to, SandipGhose, nitin_gadkari, and...
Name: tokenized_Tweet, Length: 1836, dtype: object

In [61]:
mayTweet.to_csv('mayTweet.csv')