In [1]:
import pandas as pd
import numpy as np

In [2]:
may_coronavirus=pd.read_csv('may(TG-CoronaVirus).csv')
may_curfew=pd.read_csv('may(TG-curfew).csv')
may_vaccine=pd.read_csv('may(TG-vaccine).csv')

In [3]:
may_Temp = pd.concat([may_coronavirus, may_curfew]).drop_duplicates()
mayKeyG = pd.concat([may_Temp, may_vaccine]).drop_duplicates()
mayKeyG.shape

(616, 36)

In [4]:
duplicates = mayKeyG[mayKeyG.duplicated()]
duplicates.shape

(0, 36)

In [5]:
mayKeyG.drop(['trans_dest', 'trans_src', 'retweet_id', 'reply_to', 'retweet_date', 'translate', 'geo', 'source', 'user_rt_id', 'user_rt', 'video', 'thumbnail', 'quote_url', 'near',
                 'id', 'conversation_id', 'date', 'time', 'place', 'mentions', 'urls', 'photos', 'hashtags', 'cashtags', 'link', 'retweet', 'timezone', 'user_id', 'name'], axis=1, inplace=True)
mayKeyG.shape

(616, 7)

In [6]:
mayKeyG.head(5)

,created_at,username,tweet,language,replies_count,retweets_count,likes_count
0,2021-05-03 05:28:37 India Standard Time,muneebrau,#appeal #helpus #needsupport #herosofpakistan ...,und,1,0,0
1,2021-05-03 03:20:28 India Standard Time,alidurrani88,"The corona virus has a possible 39,000 RNA mut...",en,0,0,2
2,2021-05-03 03:07:03 India Standard Time,drkaushiksuresh,Second wave of coronavirus infection in India ...,en,0,0,0
3,2021-05-03 02:55:32 India Standard Time,sohailmalik462,BBC News - India coronavirus: New record death...,en,0,0,0
4,2021-05-03 02:43:47 India Standard Time,srishtikumaris6,#Trending #viralpic #AajTak #news #NewsAlert #...,und,0,0,1

In [7]:
for i in mayKeyG['language']:
    index_names = mayKeyG[mayKeyG['language']!='en' ].index
    mayKeyG.drop(index_names, inplace = True)

In [8]:
mayKeyG.shape

(275, 7)

In [9]:
mayKeyG.to_csv('MayTweetGangotriFinal.csv')