In [1]:
import pandas as pd
import numpy as np

In [2]:
march_ayush=pd.read_csv('MarchTweetAyushFinal.csv')
march_gangotri=pd.read_csv('MarchTweetGangotriFinal.csv')
march_mahabub=pd.read_csv('MarchTweetMahabubFinal.csv')

In [4]:
a=march_ayush.shape
g=march_gangotri.shape
m=march_mahabub.shape
print(a,g,m)

(483, 8) (631, 37) (1159, 8)

In [6]:
march_gangotri.columns

Index(['Unnamed: 0', 'id', 'conversation_id', 'created_at', 'date', 'time',
       'timezone', 'user_id', 'username', 'name', 'place', 'tweet', 'language',
       'mentions', 'urls', 'photos', 'replies_count', 'retweets_count',
       'likes_count', 'hashtags', 'cashtags', 'link', 'retweet', 'quote_url',
       'video', 'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [7]:
march_ayush.columns

Index(['Unnamed: 0', 'username', 'created_at', 'replies_count', 'likes_count',
       'retweets_count', 'tweet', 'language'],
      dtype='object')

In [8]:
march_mahabub.columns

Index(['Unnamed: 0', 'created_at', 'username', 'tweet', 'language',
       'replies_count', 'retweets_count', 'likes_count'],
      dtype='object')

In [9]:
march_gangotri.drop(['trans_dest', 'trans_src', 'retweet_id', 'reply_to', 'retweet_date', 'translate', 'geo', 'source', 'user_rt_id', 'user_rt', 'video', 'thumbnail', 'quote_url', 'near',
                 'id', 'conversation_id', 'date', 'time', 'place', 'mentions', 'urls', 'photos', 'hashtags', 'cashtags', 'link', 'retweet', 'timezone', 'user_id', 'name'], axis=1, inplace=True)

In [10]:
march_gangotri.columns

Index(['Unnamed: 0', 'created_at', 'username', 'tweet', 'language',
       'replies_count', 'retweets_count', 'likes_count'],
      dtype='object')

In [12]:
march_Temp = pd.concat([march_gangotri, march_ayush]).drop_duplicates()
MarchFinal = pd.concat([march_Temp, march_mahabub]).drop_duplicates()

In [13]:
MarchFinal.shape

(2273, 8)

In [14]:
duplicates = MarchFinal[MarchFinal.duplicated()]
duplicates.shape

(0, 8)

In [16]:
MarchFinal.columns

Index(['Unnamed: 0', 'created_at', 'username', 'tweet', 'language',
       'replies_count', 'retweets_count', 'likes_count'],
      dtype='object')

In [17]:
MarchFinal.drop(['Unnamed: 0'],axis=1, inplace=True)

In [18]:
MarchFinal.columns

Index(['created_at', 'username', 'tweet', 'language', 'replies_count',
       'retweets_count', 'likes_count'],
      dtype='object')

In [19]:
MarchFinal.head(10)

,created_at,username,tweet,language,replies_count,retweets_count,likes_count
0,2021-03-03 01:41:33 India Standard Time,kwttoday,Number of coronavirus recoveries in Kuwait ros...,en,0.0,0.0,5.0
1,2021-03-03 00:20:27 India Standard Time,omkargawde_15,मुंबईत #कोव्हीड_19 लसीकरण मोहिमेस प्रारंभ झाला...,mr,0.0,0.0,1.0
2,2021-03-02 23:35:09 India Standard Time,rohailramzanali,"Alhamdullilah! Despite a player got POSITIVE,...",en,0.0,0.0,0.0
3,2021-03-02 23:22:25 India Standard Time,raja50301097,CHINA ATTACK INDIA DURING CORONAVIRUS THE MOS...,en,0.0,0.0,0.0
4,2021-03-02 22:10:28 India Standard Time,arunchadha6,Respected Pope Francis plans to visit Iraq lat...,en,0.0,0.0,0.0
5,2021-03-02 21:55:32 India Standard Time,surendrapalsin3,"""COVID-19 in India"" #coronavirus https://t.co...",en,0.0,0.0,1.0
6,2021-03-02 21:50:31 India Standard Time,jehlamtimes,Rajnath gets his covaxin jab NEW DELHI: Defen...,en,0.0,1.0,0.0
7,2021-03-02 21:17:06 India Standard Time,arunchadha6,The music industry had a way to grow amidst 'C...,en,0.0,0.0,0.0
8,2021-03-02 19:55:08 India Standard Time,srilankatweet,Coronavirus is not over yet. Stay Safe and co...,en,0.0,14.0,35.0
9,2021-03-02 19:53:38 India Standard Time,alikfinifaru,Coronavirus crisis unlikely to be over by the ...,en,0.0,0.0,1.0

In [20]:
for i in MarchFinal['language']:
    index_names = MarchFinal[MarchFinal['language']!='en' ].index
    MarchFinal.drop(index_names, inplace = True)

In [21]:
MarchFinal.shape

(1793, 7)

In [22]:
MarchFinal.reset_index(inplace = True)

In [24]:
MarchFinal.shape

(1793, 8)

In [25]:
MarchFinal.columns

Index(['index', 'created_at', 'username', 'tweet', 'language', 'replies_count',
       'retweets_count', 'likes_count'],
      dtype='object')

In [26]:
MarchFinal.drop(['index'],axis=1, inplace=True)

In [27]:
MarchFinal.head(5)

,created_at,username,tweet,language,replies_count,retweets_count,likes_count
0,2021-03-03 01:41:33 India Standard Time,kwttoday,Number of coronavirus recoveries in Kuwait ros...,en,0.0,0.0,5.0
1,2021-03-02 23:35:09 India Standard Time,rohailramzanali,"Alhamdullilah! Despite a player got POSITIVE,...",en,0.0,0.0,0.0
2,2021-03-02 23:22:25 India Standard Time,raja50301097,CHINA ATTACK INDIA DURING CORONAVIRUS THE MOS...,en,0.0,0.0,0.0
3,2021-03-02 22:10:28 India Standard Time,arunchadha6,Respected Pope Francis plans to visit Iraq lat...,en,0.0,0.0,0.0
4,2021-03-02 21:55:32 India Standard Time,surendrapalsin3,"""COVID-19 in India"" #coronavirus https://t.co...",en,0.0,0.0,1.0

In [ ]:
MarchFinal.to_csv('MarchFinal.csv')